[2016-07-19 13:57] jonathanprl opened #7 "As-User support and optional passphrase"
Does this have As-User support? I can't seem to get it working using appAuth and setting the current user ID. I am getting a 403 Unauthorised error when getting the root folder for a user.

[code]

I have a feeling it's due to our private key not having a passphrase. As looking at [line 111 in lib/util/config.js](https://github.com/box/box-node-sdk/blob/master/lib/util/config.js#L111) a passphrase

[2016-07-19 20:06] mattwiller commented on #7
In general, you should get a user app auth client for the app user you want to make calls as:

[code]

Does that work for you?

[2016-07-19 20:33] jonathanprl commented on #7
Yes that makes much more sense, thank you.

[2016-07-19 20:33] #7 closed

[2016-07-20 13:40] jonathanprl opened #8 "Groups/Memberships feature request"
Will groups and memberships be added at some point?

Also, is there a reason that you guys use polling over websockets for the real-time events? Slightly off-topic but intrigued to know.

[2016-07-20 14:10] aamave commented on #8
Yes, groups and memberships will be supported. We are scoping the work for that over the next few weeks and then should have a better estiamte on timing.
As for events, I'll leave that to one of the authors.

[2016-07-21 21:16] mattwiller commented on #8
For the SDK, we use polling instead of websockets because the Box API is RESTful and doesn't support websockets at this time.  That said, I believe that the SDK's event stream abstraction should act the same as if it were fed by a websocket; if there's anything that you think could be improved there we'd be happy to take a look at it.  That said, if you want more of a "push" solution from the API

[2016-08-06 03:19] truedat101 opened #10 "On Windows 10, Node.js 4.3.x, always gets ETIMEDOUT"
Using example from:
https://github.com/box/box-node-sdk/blob/master/docs/files.md#upload-a-file

My simple upload function below will always fail with ETIMEDOUT.  Can you clarify the reason for this failure?  I passed authentication steps, even created a folder.  This error seems to happen in the core, not in the API.  Is it a problem with auth?  Windows issue?

[code]

[2016-08-06 06:40] truedat101 commented on #10
Tried this on linux, and fails as well.  Oddly, the calls I do leading up to this all succeed:

- sdk.getTokensRefreshGrant
- client.folders.create
- client.users.get

The files I've tried uploading are my very own README.md (7K), icon ping (about 100K).  Always times out.   Are there some params I need to tune on config?

[2016-08-06 23:59] yukoyuko commented on #10
I've also been able to reproduce on Windows 8. I use Node.js 4.4.7.

[2016-08-08 20:45] djordan commented on #10
@truedat101 & @yukoyuko, thanks for letting us know. We'll get back to you once we get a chance to look at it.

[2016-08-08 21:51] yukoyuko commented on #10
Thank you!

[2016-08-09 09:15] truedat101 commented on #10
Given the lack of bugs filed, either it's perfect code or just not a critical mass using it yet.  I find it odd the fact other functions work so well, but this function, with a different URL behind it fails 100% for whatever folder and file used.

[2016-08-10 02:08] cruxdyno opened #11 "Errors on node v0.12.7"
We have some old code using node 0.12.7, and I needed this library there.  I patched it and made all the tests pass.  I'll submit a pull request if you like, but I assume you want to continue with ECMA6.

https://github.com/MobileDay/box-node-sdk/tree/node_v0.12.7

Here are some of the errors I saw:
SyntaxError: Unexpected token =>
box-client.js:238-239 undefined is not a function (Object.assign)

[2016-08-10 21:20] mattwiller commented on #11
Since 0.12 is going to be unsupported by the end of this year (https://github.com/nodejs/LTS), we aren't planning on maintaining support for it at this time.  That said, we can keep an eye on it and re-evaluate if there's a lot of demand for backwards compatibility.

[2016-08-10 21:20] #11 closed

[2016-08-15 16:56] truedat101 commented on #10
Any tips on the debugging of the api timeout would be appreciated as a starting point.  I am currently using defaults for config, but did also attempt to change timeout values.

[2016-08-16 20:13] djordan commented on #10
@truedat101, have you tried doing an upload with the example app? Trying that would help us  figure out if we're looking at a code issue or an environment issue.

[2016-08-17 01:15] mattwiller commented on #10
I'm able to reproduce on Node v4.4.2 on OSX, but it depends on the time between creating the read stream and making the upload request.  When using the node REPL to test, if I do

[code]

I get the error, but if I enter the statements separately (and thus have a couple seconds between them), it works fine.  How strange.  I've tried using the built-in debugging statements from the `request` module,

[2016-08-17 05:06] truedat101 commented on #10
@djordan Actually no just went straight in for my specific use case which was pretty simple, make a directory (that worked) and then upload a file.  I'll go back and try the example if that can establish a baseline.

[2016-08-17 18:40] djordan commented on #10
@truedat101 - thanks for helping out. Since @mattwiller was able to reproduce it, I think you can hold off on trying the sample app.

[2016-08-19 00:39] mattwiller commented on #10
I was able to root-cause the issue and identify a possible workaround.  The problem is at https://github.com/box/box-node-sdk/blob/master/lib/api-request-manager.js#L44, where we merge the specific API request options (including a reference to the stream) with the SDK defaults.  The `lodash.merge` library that we use to merge the config options appears to be creating a deep copy of the stream obje

[2016-09-05 15:24] joemidi opened #12 "400 Bad Request when trying to use the example app"
I get the following error when I try and use the example app:

`An error occurred during login - Unexpected API Response [400 Bad Request]`

It gives me no information further than that.

I've added all the app credentials in the `examples/app-auth/index.js` file.

[2016-09-11 09:12] bushan1891 opened #13 ""clientID" must be set via init() before using the SDK."
Error when initializing sdk

var sdk = new BoxSDK({
  clientID: config.CLIENT_ID,
  clientSecret: config.CLIENT_SECRET
});

i have been using java sdk now migrating to node and facing this issue

any help is appreciated

[2016-09-12 18:38] mattwiller commented on #12
@joemidi You can add something like `console.log(err);` at https://github.com/box/box-node-sdk/blob/master/examples/app-auth/index.js#L101 to get more information about the error.  I'll update the sample app later to include more error details on the page, but in the meantime you should be able to log it yourself.

[2016-09-12 20:06] mattwiller commented on #13
@bushan1891 The `clientID` and `clientSecret` must both be strings; what type of values are you passing to the SDK constructor?  Can you ensure that the client ID and secret are both correct?

[2016-09-13 21:58] bushan1891 commented on #13
loading it from a config file.
client id and the secret are correct , it works perfectly with java sdk

[2016-09-13 22:03] bushan1891 commented on #13
AssertionError: "clientID" must be set via init() before using the SDK.
   at validateBasicParams (/Users/bushan/git-repo/box-hacks/module-api/box-api/node_modules/box-node-sdk/lib/util/config.js:97:2)
   at new Config (/Users/bushan/git-repo/box-hacks/module-api/box-api/node_modules/box-node-sdk/lib/util/config.js:137:2)
   at new BoxSDKNode (/Users/bushan/git-repo/box-hacks/module-api/box-api/no

[2016-09-13 22:13] mattwiller commented on #13
@bushan1891 The error message here is misleading (there is no `init()` method); I'll correct that!  However, the assertion error you're seeing is because the client ID passed into the SDK constructor isn't a string.  See https://github.com/box/box-node-sdk/blob/master/lib/util/config.js#L97 for the assertion code.  Is it at all possible that your code to read the client ID from your config file is

[2016-09-13 22:16] bushan1891 commented on #13
Your right was passing an object , issue is fixed
thank you :)

[2016-09-13 22:19] mattwiller commented on #13
No problem, glad it's fixed!

[2016-09-13 22:19] #13 closed

[2016-09-13 22:22] bushan1891 commented on #13
had this question

sdk.getAppAuthClient('enterprise', '#####');

what does this return ??

and how do we use this to get enterprise users files in root directory ?

On Tue, Sep 13, 2016 at 3:19 PM, Matt Willer <notifications@github.com>
wrote:

--

*Thanking you Nagendra Balachandra *
Ph:8587660916
email: bushan1891@gmail.com

[2016-09-13 22:26] mattwiller commented on #13
`sdk.getAppAuthClient()` returns a client object which can be used to make API calls.  Our sample app (https://github.com/box/box-node-sdk/blob/master/examples/app-auth/index.js) has a full code example for using app auth to work with users' files.

[2016-09-13 22:27] bushan1891 commented on #13
This is awesome

thank you for the help

Regards
NB

On Tue, Sep 13, 2016 at 3:26 PM, Matt Willer <notifications@github.com>
wrote:

--

*Thanking you Nagendra Balachandra *
Ph:8587660916
email: bushan1891@gmail.com

[2016-09-15 15:54] Grahahax opened #16 "Persistent client token refresh spin"
When using a persistent client the stream spins trying to refresh tokens even if access has been revoked for the app by the user. The behaviour seems to assume all tokens can be refreshed when they expire.

The first stream error emitted looks like:
{"statusCode":401,"response":{"statusCode":401,"headers":{"server":"ATS","date":"Thu, 15 Sep 2016 15:44:11 GMT","content-length":"0","www-authenticate

[2016-09-16 00:22] mattwiller commented on #16
@Grahahax I can look into automatically cleaning up the stream in this case, but I'm not sure that it's always desirable.  For example, depending on how the persistent client's store is managed, a new set of tokens might become available and the stream could start flowing again.

Have you tried manually closing the stream when the error event occurs?  e.g.
[code]

[2016-09-16 09:45] Grahahax commented on #16
@mattwiller I had tried a few approaches and unfortunately the event stream is stuck in the refresh loop. Removing all listeners does break out of the loop, but we and up with an `Unhandled 'error' event` thrown.

It would be nice if we could update the tokens in the store but `read` is never called, only `clear` so I can't see how it would recover. Also it feels like unnecessary server load as it

[2016-09-16 23:20] mattwiller commented on #16
Yikes, okay.  I'll start looking into how we'd want to control the stream state in this case.

[2016-09-22 09:11] manfi commented on #10
Hi, I found the same problem referenced by this issue trying to stream from s3 to box
[code]
Then I tried the work around with an example file and got 500 response from the server, then I tried using a buffer with the same result
[code]
Tested on OSX 10.11 and have also attached the request a response details.
Any idea on what is causing the problem ?

Thanks

[Request_to_box.txt](https://github.c

[2016-09-26 17:44] manfi commented on #10
Ok I was passing the wrong parameter in playlistfolder, the work around works

[2016-09-26 17:52] truedat101 commented on #10
Glad the work around is working, but wondering when the fix will be released?

[2016-09-26 22:16] #10 closed

[2016-09-26 23:42] mattwiller commented on #10
@truedat101 The fix for this issue was merged today; we plan to cut a new release of the SDK by mid-week.

[2016-09-26 23:47] truedat101 commented on #10
Great, thanks for sorting this out.  Normally we don't use Windows for Node.js stuff, but happens to be needed for the current project.

[2016-09-27 21:54] mattwiller commented on #10
@truedat101 @yukoyuko @manfi To close the loop on this, we just released v1.1.0 of the SDK, which should fix this issue.  Please let us know if you're still experiencing difficulties with the new version!

[2016-10-06 21:22] carycheng77 opened #34 "Adding Webhooks Feature"
Hey! Would love to add webhooks to the node sdk, thanks!

[2016-10-11 22:43] kmcroft13 opened #40 "Support for customizing folder/file name on Copy"
I'd like to see support for customizing the names of items during a Copy process. The Box API allows for specifying the new item name as an optional parameter in the request (see below), but this is not currently supported in the SDK. Can an optional parameter be added to the Folder Copy and File Copy functions to support this?

Folder Copy: https://docs.box.com/reference#copy-a-folder
File Copy:

[2016-10-17 15:39] loganweilenman opened #45 "Support for Range Headers for files.getReadStream()"
It was discovered in the API docs that the file download URL endpoint only supported version as a query string, while Range and BoxAPI is a header (Link: https://docs.box.com/reference#download-a-file) (initially listed Range, version, and BoxAPI all as acceptable query strings).

I'm wondering if the Node SDK will support the "Range" header as a param of the getReadStream() method, as "qs" was su

[2016-10-17 23:11] mattwiller commented on #45
We're working on how to best support passing multiple types of parameters (e.g. query parameters, headers, etc) to a single API call, but for now you should be able to set headers from the client for that call:

[code]

Let me know if you run into problems with this approach!

[2016-10-18 00:16] mattwiller commented on #40
This parameter can definitely be added, although we'll need to support both the new and old copy method signatures so we don't break backward compatibility.

[2016-10-26 18:51] #40 closed

[2016-10-28 20:53] #16 closed

[2016-10-28 21:12] #12 closed

[2016-11-02 20:37] jmsherry opened #54 "Getting an Embed Link"
I can't see it in the docs, but does the SDK do this: https://docs.box.com/reference#get-embed-link ??

If not, can I add functions to the client to make that possible??

Thanks

[2016-11-02 23:34] jmsherry commented on #54
https://github.com/box/box-node-sdk/pull/27/files/c65bd7c64a212a56c7f75e49da0e9999e8f3b336?diff=unified

Is still a work in progress??

[2016-11-03 00:46] mattwiller commented on #54
@jmsherry This is already possible today using the basic `files.get()` call with the fields parameter, but as you mentioned there's a PR currently pending to add a convenience method.  To accomplish this today, you would do something like this:

[code]

[2016-11-03 00:47] jmsherry commented on #54
@mattwiller AH! Awesome!! Seems so easy now you point it out! 👍

[2016-11-03 00:47] #54 closed

[2016-11-11 19:25] carycheng77 opened #73 "Webhooks Support"

[2016-11-11 19:30] #34 closed

[2016-11-14 18:37] mattwiller commented on #8
This functionality was added in #69

[2016-11-14 18:37] #8 closed

[2016-11-14 18:40] mattwiller commented on #73
Thanks for adding this in #74 — it's a huge help!

[2016-11-14 18:40] #73 closed

[2016-11-22 14:37] mjanathk opened #90 ""Search for Metadata" always results in bad request"
It looks like there is a bug in the SDK when we "search for metadata" as described in the document ( _https://github.com/box/box-node-sdk/blob/144dd852bcf8e6c511b0141c08b635902dabd8db/docs/search.md)._ Pls see below
**Code:**
_userAPIClient.search.query(
'',
{
'file_extensions': 'ppt,pptx',
'mdfilters': [
{
'templateKey': 'TopSecret',
'scope': 'enterprise',
'filters': {}
}
]
},
function(err,respon

[2016-11-22 18:01] mattwiller commented on #90
@mjanathk Thanks for catching this!  The default query stringification wasn't correctly handling the mdfilters parameter; I'll have a fix ready by the end of today.

[2016-11-22 18:05] mjanathk commented on #90
Thanks Matt

[2016-11-28 22:22] #90 closed

[2016-11-30 06:18] yukoyuko commented on #10
@mattwiller With the latest version of SDK, I am now able to upload files no problem. Thank you very much!

[2016-12-07 20:54] sterlingw opened #96 "Intermittent "auth code or refresh token expired" error with App Auth client"
<img width="1051" alt="screen shot 2016-12-07 at 12 45 03 pm" src="https://cloud.githubusercontent.com/assets/8324059/20985865/26533496-bc7b-11e6-85a3-4e5a59267348.png">

Hi there,

My application ocassionally gets this error when calling methods on the box client object that is returned when calling `sdk.getAppAuthClient('user', myAppUserId);`. Is this because I need to create a persistent client

[2016-12-08 19:13] sterlingw commented on #96
For more context - this is the actual error, minus headers. This error is returned from calling `boxClient.folders.getItems`:
[code]

[2016-12-08 19:38] praveen4554 opened #97 "Auth code expired"
I am generated authentication using enterpise like the given syntax
sdk.getAppAuthClient('enterprise', id);

It works some time and some time it throws error like auth is expired and can you help me to resolve this issue i am struck in that issue

[2016-12-09 00:09] mattwiller commented on #97
This is a duplicate of #96 — I'm going to close this one, please see the other issue for any updates

[2016-12-09 00:09] #97 closed

[2016-12-09 00:11] mattwiller commented on #96
@sterlingw It turns out that the Box API doesn't currently allow for clock skew when validating the `iat` paranmeter, so if your client's system clock is even a couple seconds ahead of Box's servers, you'll get this error.  I have a PR open (#99) to address this issue by omitting the `iat` parameter by default.  Once that gets merged, I'll cut a new version of the SDK and release it to fix the iss

[2016-12-09 01:19] #96 closed

[2016-12-09 02:46] sterlingw commented on #96
@mattwiller great! Looking forward to the next SDK release that includes this fix, as the issue is occurring fairly frequently.

[2016-12-09 09:17] praveen4554 opened #100 "Auth Code Expired"
When i change the config.js and token-manager.js files still it throwws error like please check the exp claim

can you help me to get out this error

[2016-12-09 12:03] praveen4554 commented on #100
![boxerror](https://cloud.githubusercontent.com/assets/12521618/21048488/a3c6553c-be35-11e6-8674-e7933747bfd8.jpg)

[2016-12-09 13:04] #100 closed

[2016-12-12 22:08] arjshiv commented on #96
I'm seeing this too - thank you @mattwiller for the fix and we're looking forward to the next SDK release!

@sterlingw thanks for posting this issue!

[2016-12-13 01:15] mattwiller commented on #16
@Grahahax FYI, the latest version of the SDK (v1.2.0) includes a fix that should prevent this issue.  Please update at your earliest convenience and let me know if you're still seeing any problems!

[2016-12-13 01:16] mattwiller commented on #8
@jonathanprl The latest version of the SDK (v.1.2.0) adds support for Groups/Memberships operations — please give it a try and let me know if you encounter any difficulties!

[2016-12-13 01:17] mattwiller commented on #96
@sterlingw @arjshiv The latest version of the SDK (v1.2.0) includes a fix for this issue — please try it out and let me know if the problem is still occurring!

[2016-12-13 15:44] arjshiv commented on #96
@mattwiller will do!

[2016-12-14 00:10] sterlingw commented on #96
@mattwiller I've updated to the latest version of the SDK and haven't run into this issue since. I'll let ya know if it occurs. Thanks @mattwiller!

@arjshiv I'm glad this was helpful for you!

[2016-12-14 15:21] Grahahax commented on #16
@mattwiller Great, we'll update our version and let you know if we have any problems.

Thanks

[2016-12-15 15:41] arjshiv commented on #96
@mattwiller I've run into this issue once since updating (though it certainly seems to be happening less often). Interestingly, it shows up mainly when we run our Box integration tests on Travis CI - I don't know if that's helpful for you.

[2016-12-15 19:57] mattwiller commented on #96
@arjshiv Would you mind opening another issue with the contents of the `error` object you're seeing?  Specifically, it would be great if you could include the contents of `error.response.body` for debugging.

[2016-12-15 22:27] arjshiv commented on #96
@mattwiller Sure -  I'll add in a debug message and create an issue the next time I see it. It's definitely been happening very rarely, but you'll hear from me as soon as we see it :)

[2017-01-26 19:56] mself opened #102 "Using an incorrect passphrase with app auth causes API calls to return '{}'"
If I create an SDK with app auth but with an incorrect passphrase, I don't get any errors but all API calls I make return an err value of `{}`.
Creating the SDK object appears to return normally.
And creating the client object appears to return normally (I used `const box = sdk.getAppAuthClient('user', process.env.BOX_USER_ID);`)
But then making an API call like `box.users.get(box.CURRENT_USER_ID,

[2017-02-03 03:02] jmuncaster opened #105 "Example code incorrectly matches email against 'name' rather than 'login'"
On this line:
https://github.com/box/box-node-sdk/blob/master/examples/app-auth/index.js#L113

The code is verifying that the 'email' form field matches the 'name' value of the response.

When I ran this code, I got 'login' as a response field, not 'name'

Changing the test to 'login' seemed to fix it.

[2017-02-04 00:16] mself commented on #102
Turned out to be user error.  The API call is returning `[Error: error:06065064:digital envelope routines:EVP_DecryptFinal_ex:bad decrypt]`, but I was assuming the response would be JSON and was pretty printing it with `JSON.stringify(response, null, 2)`, which prints `{}` in this case.

[2017-02-04 00:16] #102 closed

[2017-02-08 02:02] mattwiller commented on #105
@jmuncaster I just tried running the sample app, and it runs correctly for me; can you show me the exact error you're seeing?

The sample app uses the `name` field on the User object to store the email address they signed up with — the `login` field for App Users is populated by Box and isn't really useful for the sample application.

[2017-02-09 21:02] montrealist opened #107 "question: inconsistent payload returning from search.query"
We're experiencing cases with payload returning from `search.query` [endpoint](https://docs.box.com/reference#searching-for-content) looking like this (`total_count` is not zero but the `entries` array is empty):

[code]

90% of the time we receive this:

[code]

Our use case: a script hits a Box folder programmatically and uploads a CSV file to it (filename is always the same). Before uploading,

[2017-02-09 22:11] mattwiller commented on #107
@montrealist Under some circumstances, like if you no longer have access to some items in the search results, the entries displayed may not match up with the `total_count`.

However, I think that you might be able to work around this problem; search is probably not the most efficient way to do what you're trying to do.  Rather than looking through your entire Box account for a file with the same n

[2017-02-10 04:28] montrealist commented on #107
Got it. The `preflightUploadFile` looks more attractive, will try it out. Big thank you for the guidance and the timely response!

[2017-02-10 04:28] #107 closed

[2017-02-10 12:56] ChristianLuxem opened #108 "adminAPIClient.enterprise.addAppUser is not a function"
Hello together,

i am trying to do an Integration of Box into the collaboration platform IBM Connections. I am using your SDK and i am trying to authenticate on my created app, to show the content of a folder.
So i am using the following code:
[code]
First Question on that:  my PRIVATE_KEY const is declared with the following code:
`const PRIVATE_KEY = fs.readFileSync('private_key.pem');`
Is that

[2017-02-10 17:18] mself commented on #108
The `addAppUser()` function was added ver recently.  Perhaps you need to do `npm update` to get the latest SDK code?

[2017-02-10 17:21] mself commented on #108
You might also look at the sample app at https://github.com/box/samples/tree/master/box-node-lambda-sample for an example of loading the private key.  You can read it from a file or just use a string literal in your code.  The "Next steps" section of the sample app also has some code snippets for creating and using app users.  Good luck!

[2017-02-10 19:45] mattwiller commented on #108
@ChristianLuxem @mself The addAppUser() was just added, and is not yet released in any version of the SDK; we'll be cutting a release within the next few weeks with a few new features, including that function.  Until that time, you should be able to create app users with the existing function like this:

[code]

[2017-02-13 09:41] ChristianLuxem commented on #108
Thank you! I will close it.

[2017-02-13 09:41] #108 closed

[2017-02-24 23:01] neocolmartin opened #109 "Intermittent "auth code or refresh token expired"/"Expired Auth: Auth code or refresh token has expired" error with App Auth client at v1.3.0"
This looks like the same problem as #96, but I've seen it at v1.2.0 and v1.3.0.

This is the code that is producing the error:

[code]

This is the output I get on the console:
[code]

The client that is receiveing the response from `res.status(500).send(err)` receives this (certain bits omitted here for brevity):
[code]

To start with, it appeared that restarting node stopped the error occurring

[2017-02-24 23:42] mattwiller commented on #109
@neocolmartin If the `exp` claim is failing like this, it generally means that your server's clock is significantly off from Box's servers'.  Since the `exp` claim is computed on your server as `exp = yourServerTimestamp + expirationTime` (expirationTime is a configuration option in the SDK, and is 60 seconds by default), and on the Box server we check that `boxServerTimestamp < exp`, it's importa

[2017-02-25 08:07] neocolmartin commented on #109
Thanks @mattwiller.
Right now my machine is a few seconds behind, but the calls to the Box SDK are successful at the moment. If they fail again I'll check the timestamp again.

[2017-03-03 08:56] maruthi-menlo opened #112 "How to refresh token when exist token(developer token) is expired"
Please help me to get refresh token, while i am accessing with expired token(developer token).

[2017-03-03 18:50] mattwiller commented on #112
Hi @maruthi-menlo — the developer token is meant for testing out the API, and is not able to be refreshed.  If you need another developer token, you can just go to the [Dev Console](https://app.box.com/developers/services) and generate another one.  This will allow you to make API calls for another hour until it expires, at which point you can just go get another one.

If you want a full access to

[2017-03-06 14:52] neocolmartin commented on #109
I'm still seeing this issue, and my system's clock is at most 1 second out from epochconverter.com.

2 questions:

1. To change the expiration time (in the hope of making this less likely to occur), do I create my Box SDK with something like this (the `expiredBufferMS` line is the only line that's new):

[code]

2. Does this suggest that there might be a problem either with the SDK or with your se

[2017-03-06 23:42] mattwiller commented on #109
@neocolmartin You could try increasing the JWT token expiration time parameter like so:

[code]

The [API docs](https://docs.box.com/docs/app-auth#section-6-constructing-the-claims) indicate that the maximum value is 60, but if there's a clock issue maybe setting it longer will help.  Note that setting these JWT tokens to be long-lived is less secure (in theory someone could intercept the token an

[2017-03-07 08:51] neocolmartin commented on #109
Thanks @mattwiller

* The version of the SDK I'm using: Inside my project, the `node_modules/box-node-sdk/package.json` file identifies itself as `"version": "1.3.0"`.

The error isn't occurring right now, but I've added the logging in now to capture `Date.now()` and the response headers so I can report them next time it happens.

[2017-03-07 13:21] neocolmartin commented on #109
@mattwiller  I've seen the problem again and here is the data you asked for:

* The version of the SDK I'm using: Inside my project, the `node_modules/box-node-sdk/package.json` file identifies itself as `"version": "1.3.0"`.
* My app made 3 requests (all using the same `BoxSDK` object, but each calling `getAppAuthClient` separately). The 3 timestamps at which the calls were made were: `1488891473

[2017-03-07 14:34] neocolmartin commented on #109
Right, at the moment my machine's time was wrong. I'm not sure if it was wrong previously or not as I was getting confused by epochconverter.com, which I thought was showing me time from their server, but was actually showing me time from my browser. I'll check again whether the API calls work when I get a chance after having changed the time.

[2017-03-07 20:03] mattwiller commented on #109
@neocolmartin Yeah, I'm definitely seeing some disagreement between the clocks.  Your request and response are ~1 second apart, so clearly the issue is not that the token is expiring en route to Box.  For reference, I'm seeing that the request you made (based on the headers you sent me) was handled by the Box servers at a timestamp of `1488892021`, which is over 9 minutes off from your system's cl

[2017-03-15 21:12] noobiehacker opened #113 "Can not see the files on the Main Box Web Interface after uploaded"
Hello all

I am just running the 'app-auth' sample app and uploaded a file onto box.
However, when I go back to the original box web interface, I couldn't see the file and can't search for it anywhere.

However, in the node js app, its able to find it and return the image.

I am very confused as to where is the file actually stored, please help!! ><

[2017-03-15 22:05] mattwiller commented on #113
@noobiehacker The App Auth sample creates and works with [App Users](https://docs.box.com/docs/app-users), which are owned by your application and do not have actual Box logins (i.e. for the Box web application).  This auth model is used for apps that will provision and manage their own users' accounts separate from Box.

If you want to interact with standard Box user accounts, you will need to us

[2017-04-01 15:50] kabirbaidhya commented on #96
**Please Help**.
Hi I'm getting this error in my application now which is already in production. I've gone through all the related issues in this repository but still can't fix this error.
[code]
I'm using `getAppAuthClient` to get the client as we're using `enterpriseId` to authenticate with the box.

In my code I've done this:
[code]
[code]

If anyone can suggest some workaround to fix this prob

[2017-04-01 15:52] kabirbaidhya commented on #109
Hi I'm getting this error in my application now which is already. I've gone through all the related issues in this repository but still can't fix this error.

[code]
I'm using `getAppAuthClient` to get the client as we're using `enterpriseId` to authenticate with the box.

In my code I've done this:
[code]
[code]

If anyone can suggest some workaround to fix this problem it would be really appreci

[2017-04-01 16:44] kabirbaidhya commented on #109
BTW, I'm just trying to debug this stuff. And seems like the response I received is:

`400` and `{"error":"invalid_grant","error_description":"Please check the 'exp' claim."}`

Not sure what this means. But I'm wondering how this error suddenly came up while everything was working pretty fine few days ago.

[2017-04-01 17:01] kabirbaidhya commented on #109
@mattwiller I've tried setting the `expirationTime` as you've described above as well. Still no luck.

You can check my error response above. Thanks.

[2017-04-07 09:15] neocolmartin commented on #109
@kabir, somewhere in the error object you should have access to the HTTP response that was sent by the server. My advice would be to find the “Date” header in there and compare it with the date on your system when the request was sent (adjusting for timezones if needed). If there’s much difference, then that will cause the request to get rejected with this error. (Comparing the local time to the D

[2017-04-07 09:16] kabir commented on #109
@neocolmartin I think you have the wrong Kabir

[2017-04-07 09:23] neocolmartin opened #115 "Feature request: Use server timestamp to generate exp claim"
I would like to request a feature (or to ask for input on whether a pull request for this feature would be likely to be accepted). The feature would be this: when a token request fails with the error "`Current date/time MUST be before the expiration date/time listed in the 'exp' claim`", then the SDK would take the "Date" header form the response, and generate a new `exp` claim using the Date head

[2017-04-07 09:25] neocolmartin commented on #109
My apologies.
That should have been @kabirbaidhya

[2017-04-10 21:52] #113 closed

[2017-04-10 21:52] #112 closed

[2017-04-10 21:59] mattwiller commented on #109
@kabirbaidhya The App Auth client does attempt to automatically refresh tokens using the JWT grant, but the error object you posted suggests exactly what @neocolmartin mentioned: your client's time is almost certainly significantly different from Box's server time and thus the `exp` claims that it generates are already expired by the time the JWT is processed by Box's servers.  You might try to sy

[2017-04-11 03:27] mattwiller commented on #115
@neocolmartin Thanks for the suggestion!  I'm following up with the team to see how feasible it would be to support retrying with an `exp` claim based on the server's `Date` header.

[2017-04-11 04:07] kabirbaidhya commented on #109
Okay, that makes sense. Thanks @mattwiller and @neocolmartin.

[2017-04-19 21:47] #109 closed

[2017-04-19 21:47] #115 closed

[2017-05-03 14:26] kendomen opened #127 "client.users.addEmailAlias throws 403 Forbidden"
I'm able to update other fields for the user but when I try to add an email alias, I get a 403 forbidden.

client.users.addEmailAlias(userId, 'ken.domen@nike.com', function (err, data){
    console.log(err);
});

[Error: Unexpected API Response [403 Forbidden] (forbidden: "Forbidden")]

[2017-05-03 19:47] kendomen commented on #127
sorry i was trying to add an email that was already used

[2017-05-03 19:47] #127 closed

[2017-05-03 20:04] kendomen opened #128 "adminAPIClient.users.addEmailAlias adds an alias but is not confirmed"
adminAPIClient.users.addEmailAlias adds an email alias but it's not confirmed so it doesn't show up in
adminAPIClient.users.getEmailAliases()
nor can I update a user's login to the new alias.

the code in users.js I think should set is_confirmed to true.

In box .net sdk, it sets is_confirmed to true.

[2017-05-04 15:08] kendomen commented on #128
`
// --------------------------------------------------------------------------
//  To change a user's primary login, do method calls 1-4 below
//
// Note:  Changed box-node-sdk users.js addEmailAlias to set is_confirmed to true.
//        Having it set to false was causing the the next call to
//        update the user with the new login to fail.
//        box .net sdk sets is_confirmed to true
/

[2017-05-10 17:56] djordan commented on #128
Thanks @kendomen - we have a new SDK release in the works, so we'll see if we can get this addressed along with it.

[2017-05-12 22:38] bneigher opened #129 "files.uploadFile breaks with introduction of promises?"
I was implementing this sdk with the previous release (1.3.x) and verified that files.uploadFile was working.

However the master branch has introduced Promises which is great so I changed my code for such but now I seem to be having issues with the files.uploadFile.  Getting a 400 error with not much more context.  Is this not yet ready for use?

Here is an example of the invocation:

[code]

Her

[2017-05-13 04:58] KarthikShanmugasundaram commented on #129
@bneigher Yes, we are aware of it. Next week we are going to release with that fix.

[2017-05-15 15:26] divinann opened #130 "SDK Client using BOX Token only"
Currently, I dont have the client ID and client secret information to create SDK object.

I was wondering similiar to BOX SDK Java, where you just need BOX Token to make API call. Is it possible to do the same for Nodejs.

[2017-05-15 16:17] KarthikShanmugasundaram commented on #130
@divinann client ID and client secret are mandatory to create the SDK instance in Node.js. A token cannot be created without a client app. If you have the client app, the client id and client secret must be present. Could you please clarify why you dont have those?

[2017-05-15 16:49] divinann commented on #130
In our organization, we have to use an API Gateway solution to retrieve the BOX Token so they can track the BOX API usage. The organization doesn't want to share the client secret with us. If shared, i would bypass the API Gateway and metrics wont be collected for my application.

I noticed that in Java SDK, client ID and secret is not needed to make API calls. I was hoping we can do the same here

[2017-05-15 20:43] KarthikShanmugasundaram commented on #130
@divinann When you use sdk.getBasicClient you dont need real client_id and client_secret values.
var sdk = new BoxSDK({
       clientID: 'client_id',
       clientSecret: 'client_secret'
});

var client = sdk.getBasicClient('kTK9k8iKiYHK58PJdbHr0qaDjn5vzbX0');

We will process you request based on priority as we have provided the work around.

[2017-05-16 02:39] divinann commented on #130
Got it. Is there a way to specify proxy to make these BOX API calls?

When i invoke any API, i get an error message. See attached file.
![proxy issue](https://cloud.githubusercontent.com/assets/18354730/26087552/621906f6-39bf-11e7-8f35-14b7871a5094.png)

[2017-05-16 03:05] KarthikShanmugasundaram commented on #130
var sdk = new BoxSDK({
    apiRootURL: 'https://proxy_url1',
    uploadAPIRootURL: 'https://proxy_url2',
    clientID: 'client_id',
    clientSecret: 'client_secret'
});

@divinann replace the proxy urls

[2017-05-16 14:20] divinann commented on #130
@KarthikShanmugasundaram

I did that. I got a different error message - socket hang up.
Am i supposed to putting a proxy URL in those attributes? By looking at the attribute name, it is expecting a BOX API url not proxy url.

[2017-05-16 23:12] mattwiller commented on #129
@bneigher This has been fixed on master branch with https://github.com/box/box-node-sdk/pull/131 — we should be releasing a version with Promises support this week.

[2017-05-16 23:12] #129 closed

[2017-05-17 14:57] divinann commented on #130
@KarthikShanmugasundaram

As discussed, let me know if you find any alternative to pass proxy url to the SDK library.

[2017-05-17 20:02] mattwiller commented on #130
@divinann If your API Gateway acts as a tunneling proxy, you can specify this in the SDK config:

[code]

[2017-05-17 23:26] mattwiller commented on #128
@kendomen Making the change outright would be a breaking change, so we won't be able to confirm by default.  However, I've added an option to confirm the alias:

[code]

[2017-05-18 01:01] #128 closed

[2017-05-18 01:09] #105 closed

[2017-05-18 19:05] divinann commented on #130
@mattwiller

Worked like a charm!!! thank you.

[2017-05-18 19:05] #130 closed

[2017-05-30 15:38] garyforsterio opened #138 "Please check the 'jti' claim."
Hello,

Using `getAppAuthClient` I'm having an issue with tokens using this SDK. I'm getting some 400s back after successive calls to box with the error body
[code]

Having read previous issues I thought this would be due to my computers clock being out of sync but using https://time.is/ I see my clock is accurately sync to some minute amount. To further investigate I console logged the jti claim.

[2017-05-30 20:50] mattwiller commented on #138
@garyforsterio The `jti` claim is a unique identifier generated by the SDK for the JWT; it shouldn't be related to the expiration time issues other people have run into.  For example, a JWT that I just generated with the SDK has the following claim: `"jti": "3ec3b35f-6b5b-46e2-a59b-8f19627016fa"`.

First, what version of the SDK are you using?  I don't think we've made any changes that should affe

[2017-05-31 18:38] arjshiv opened #139 "Seeing a number of socket hang up requests"
Hi,

I'm using the Box Node SDK as an app user for a variety of upload use cases, and I've seen a sharp increase in socket hang up issues in the last couple of days. Could you provide some guidance on how we can best solve this?

We've been using the SDK for about 8 months now, and haven't changed anything in our underlying implementation in the last couple of weeks apart from additional error han

[2017-05-31 20:40] mattwiller commented on #139
Hi @arjshiv — socket hangup errors are likely not an issue with the SDK, but with the Box API itself.  Could you give me some more details on what you're seeing?  It would helpful to know when you saw these errors start happening, if they're still continuing, and what IP address `upload.box.com` resolves to for you.

[2017-05-31 22:15] arjshiv commented on #139
@mattwiller Thanks for the timely response. I agree, this seems like more of an API issue.

- We saw these errors start happening around two days ago. I'm still seeing them happen occasionally (3-4 times a day)
- What's the best way to figure out the IP address that `upload.box.com` resolves to? I looked at the response object from the upload API and tried to get it from the headers/`res.connectio

[2017-05-31 22:37] mattwiller commented on #139
@arjshiv You should be able to run something like `dig upload.box.com` on your machine to get the DNS record

[2017-06-01 13:27] arjshiv commented on #139
This is what I'm seeing using `dig` - is this helpful?

Additionally, I've seen fewer socket timeouts in the last 15-18 hours, so this may have been a one-off issue.

[code]

[2017-06-01 13:56] montrealist opened #140 "Question: frequency of calling getTokensRefreshGrant"
Hi,

Is there a limit on a number of times `getTokensRefreshGrant` can be called per hour/day/etc.? We have a Grunt task that pulls files from Box, and it runs multiple times a day. Wondering if it'll ever fail due to the API refusing to provide a fresh set of tokens due to a previous request having come in too recently.

[2017-06-01 22:19] mattwiller commented on #139
@arjshiv There was a switchover of upload API servers in the last week or so, which may have caused some intermittent issues for you.  If the error rate is back down now, it was probably just related to that.  If the issue continues in the future, let me know, but I'm going to close this issue for now, as this doesn't seem like an SDK problem.

[2017-06-01 22:19] #139 closed

[2017-06-01 22:23] mattwiller commented on #140
Hi @montrealist — there isn't any hard limit on token refreshes, other than our normal API rate limits.  You should only need to refresh once per hour, so I don't think it will be an issue.  Does that answer your question?

[2017-06-02 14:32] arjshiv commented on #139
@mattwiller Sounds good. Thanks for shedding some light on this, and for the help!

[2017-06-04 17:37] montrealist commented on #140
Thank you - in part, yes. Where can I check the limits? Can't find them in either the reference or the docs. Also, am I correct in assuming that the rate limits apply per app?

[2017-06-06 17:45] nickpeihl opened #142 "Config object not deeply immutable"
The `Object.freeze` call [here](https://github.com/box/box-node-sdk/blob/master/lib/util/config.js#L155) only makes the top level properties immutable. The nested properties under `request` (for example `request.strictSSL`) are still mutable.

I'm not sure if this is intentional or not. If not, perhaps consider using the [deep-freeze](https://www.npmjs.com/package/deep-freeze) library or the deepF

[2017-06-08 20:45] joedski opened #143 "Cannot upload files from streams other than fs.createReadStream"
I've been trying to build a server which uses Box Content to support file uploads, and I'm handling `multipart/form-data` requests using `busboy`, but when I hand off the file stream created by `busboy` to `boxClient.files.uploadFile(...)`, the latter errors out with a 500 status code.

As another data point, when I test it using a file read through `fs.createReadStream` it works fine.  However, i

[2017-06-10 03:34] joedski commented on #143
After digging Request's and FormData's codebases, I'm going to close this.  I'll leave what I found for anyone else who runs into this.

The underlying issue is this:
- Request does not have any logic to do `transfer-encoding: chunked`.
- Request always tries to set a `content-length` header.
- Request asks FormData what the length of its data is so it can send the headers before sending the body.

[2017-06-10 03:34] #143 closed

[2017-06-12 14:42] joedski opened #144 "Cannot upload files with unspecified length/No way to specify file size in simple upload"
So far as I can tell, when using `client.files.uploadFile()` there's no way to tell the box client the size of the file you're trying to upload.  This causes uploads to fail if you're using a stream that is _not_ one of the following:
- an `fs.ReadStream`
- an `http.IncomingMessage`
- a `request` stream

(I also suspect that if either of the `IncomingMessage` or `request` streams have the header `

[2017-06-13 14:12] montrealist commented on #140
Hey @mattwiller - just following up on my last question.

[2017-06-13 18:36] mattwiller commented on #140
Hey @montrealist, sorry for the delayed response — [this FAQ](https://community.box.com/t5/Box-Developer-Forum/FAQ-Box-Platform-and-APIs/m-p/14768#M1) has information about the rate limits.  It looks like they are per user.

[2017-06-13 22:54] mattwiller commented on #142
@nickpeihl Thanks for calling this out.  If you'd like, I'm happy to accept a PR on this!  Otherwise, I'll add it to our backlog and make sure it gets taken care of.  This is somewhat low priority, so it might not be immediate, but it should be fixed before too long.

[2017-06-13 23:01] mattwiller commented on #144
Hi @joedski — thanks for your detailed investigation on this!  I think you're right, this seems to be an issue with `request` and its internal handling of streams.  If possible, you should try to use the [Chunked Uploader](https://github.com/box/box-node-sdk/blob/master/docs/files.md#chunked-upload) for these types of use cases; it should be faster and more resilient to network errors.  However, i

[2017-06-14 23:13] joedski commented on #144
Thanks for pointer!  I missed the chunked uploader the first time around while getting to grips with the Box SDK, which is probably why I didn't just use that in the first place.  I'm not sure about the memory characteristics, but they'll probably be fine for our app?  I guess we'll just have to see.

I'll try to squeeze it into the backlog somewhere, maybe add it as a technical debt issue, so I m

[2017-06-15 00:49] grnch opened #145 "The Promise support does not cover some of the BoxSDK methods"
Promise support was added to all the BoxClients which is absolutely awesome, but it looks like some methods were missed on the BoxSDK object itself, they still require callbacks:

- getTokensAuthorizationCodeGrant()
- getTokensRefreshGrant()
- getEnterpriseAppAuthTokens()
- getAppUserTokens()
- revokeTokens()

Would you consider adding Promise support to these methods too?

[2017-06-15 00:52] KarthikShanmugasundaram commented on #145
@grnch Sure. Thank you for sharing. We will add it out backlog.

[2017-06-16 05:34] bneigher opened #148 "v1.5.0 breaks client.files.uploadNewFileVersion(fileId, fileStream)"
Using promises.
This is throwing
`TypeError: Can't add property error, object is not extensible.`
Any ideas?  v1.4.2 works fine and will be pinning this down as my library until further notice

[2017-06-16 06:11] mattwiller commented on #148
@bneigher Thanks for reporting!  I'll take a look.

[2017-06-16 06:22] mattwiller commented on #148
@bneigher I reverted the offending change and just pushed v1.5.1, which should fix the issue.  Please let me know if you're still seeing any trouble!

[2017-06-16 06:22] #148 closed

[2017-06-16 06:36] bneigher commented on #148
@mattwiller thanks for the immediate turn around.  :wrench:

[2017-06-20 14:36] #140 closed

[2017-06-22 19:56] ksleima opened #150 "JWT doesnt work with nodeJS SDK for Box"
JWT doesnt work with nodeJS SDK for Box- token is always expried even when passign ASSERTION exp and iat are valid. this was supposedly fixed in 1.4.0 but is definitrly not.

[2017-06-22 20:13] mattwiller commented on #150
Hi @ksleima — thanks for reaching out!  The `exp` claim is generated from your host's clock, which may not be synchronized with Box's servers.  We implemented some retry logic in v1.4.0 to try and work around unsynchronized clocks, but it's not foolproof.  Generally, the best way to fix this issue is to ensure that the machine your application is running on uses NTP to synchronize its clock, but I

[2017-06-22 20:55] ksleima commented on #150
@mattwiller
I just emailed you. Thanks for your help

[2017-06-23 21:55] mattwiller commented on #150
To close the loop here, @ksleima and I found two issues while debugging in a separate email thread:

1. In app auth config, setting `expirationTime` to longer that 60 seconds is not supported by the Box API, and will result in the auth request failing.
2. An issue with the app's public key that was fixed by generating a new keypair in the Box Developer Console.

To address the first problem, I'm c

[2017-06-23 21:55] #150 closed

[2017-06-28 23:45] cghil opened #152 "As-User is currently not documented in the README"
I have written up some documentation for `client.asUser()` and `client.asSelf()`. I will submit a pull request from my forked repo.

[2017-07-10 21:34] #152 closed

[2017-07-21 15:47] yawhide opened #156 "[question] are ids unique across all types?"
Sorry for posting this question here instead of support but last time I contacted them it took 2.5 months (no joke...) to answer.

My question:
Are `id` provided by the api unique across all types? (aka files/folders/web_links, etc?)

Thanks

[2017-07-21 18:04] mattwiller commented on #156
@yawhide No, objects IDs are not unique across different types.  It is totally possible to have a folder with ID '1234' and a file with ID '1234' and a collaboration with id '1234' etc.

[2017-07-21 18:12] #156 closed

[2017-07-21 18:12] yawhide commented on #156
thanks

[2017-07-24 19:05] monofuel opened #157 "Intermittent Expired Auth error"
Using the Persistent Client in the box-node-sdk v1.7.0 library.

We can authorize successfully and the majority of requests succeed, however we sometimes get 401 Expired Auth errors thrown for api calls in production on GCP.
It seems to happen at random, and we haven't been able to reproduce it locally.
The error does not affect any specific files or users. Retrying at a later time usually succeed

[2017-07-24 19:42] mattwiller commented on #157
@monofuel Thanks for the detailed error report!  That definitely sounds like it might be a bug; the Persistent Client should be preemptively refreshing the access token before it actually expires, and should DEFINITELY be refreshing it if it is actually expired.  I have a few questions that will help me look into this issue:

1. Did this work for you before on a different version of the SDK or hav

[2017-07-24 20:40] monofuel commented on #157
Thanks for the quick response!

1. We were previously on 1.3.0 when we saw this error, and last week we updated to 1.7.0 to see if it would help.
2. I don't have good metrics right now on exactly how much usage, however I would estimate it is around 50~200 per hour depending
on what customers are doing.
3. We are not passing in any configuration settings beyond clientID and clientSecret to BoxSDK(

[2017-07-24 23:53] mattwiller commented on #157
@monofuel Interesting, v1.3.0 is before all of the major changes we've done lately, so this is probably either a pretty old latent issue.

I did some digging in our server logs and found that many of your token refresh requests are failing with a 400 status, so it's likely there's some issue with how your tokens are getting updated.  With a totally persistent client, it could be the case that a cl

[2017-07-26 09:55] matt-lindsay opened #159 "Search function error returns incorrectly formatted JSON"
Hi guys,

when executing the following function,
`client.search.query(filename, { type: 'folder' }, function (err, jsonData) { // ...do something });` and a folder with that name already exists, invalid JSON is being returned e.g.

`
{ Error: Unexpected API Response [409 Conflict] (item_name_in_use: "Item with the same name already exists")
    at Object.buildResponseError (/home/ubuntu/workspace/

[2017-07-26 10:38] #159 closed

[2017-07-26 10:39] matt-lindsay commented on #159
My mistake, the JSON is fine, it is coming from the `files.upload` function.

[2017-07-28 17:32] monofuel commented on #157
After we applied this update, we stopped seeing the errors in our testing environments! Didn't see the error for a few days.

We deployed the update to production 2 days ago, and today I saw 2 occurrences of the bug at around 9:25 pdt. Unfortunately we're also having issues with our logging right now and i don't have access to the logs around that time.

here's the error stack:
[code]

[2017-07-29 01:38] mattwiller commented on #157
@monofuel Interesting, so this error actually looks slightly different from the old one (and sounds like it's occurring less?).  Before, I believe that your access token was getting expired so all calls would have been failing for some period of time.  Now, it looks like just the token refresh is failing, which could be caused by two different Node instances trying to refresh at the same time.  If

[2017-07-31 16:41] garyforsterio commented on #138
Hey Matt,

Sorry about the slow response to this and thanks for getting back to me. I'm still having the same issue, getting 400's back with an error description `"Please check the 'jti' claim."`. I've decoded the JWT's associated with the http requests and the JTI claim seems to be fine ("jti": "dbf1d336-5cb6-43a1-b26a-e8a29134add6").

We have multiple servers up and running using the same box cr

[2017-07-31 17:48] mattwiller commented on #138
@garyforsterio Running multiple servers with the same Box credentials definitely should not be causing an issue.  If you don't mind, I'd like to do some debugging on the Box side to investigate what's happening on our end.  If you could send the following information to the Box email address in my Github profile, I can look into the issue further:

1. Your API key/client ID (NOT your client secret

[2017-08-02 23:56] Abiwax opened #160 "Webhook subscription"
Hi,
Is there a way to use the node sdk to subscribe to web hooks.

Thanks

[2017-08-03 06:15] mattwiller commented on #160
Hi @Abiwax — our SDK [documentation on Webhooks](https://github.com/box/box-node-sdk/blob/master/docs/webhooks.md) is a good place to start if you want to take a look.  You can use the Node SDK to manage which webhooks you're subscribed to and to validate webhook messages when they come in.  Note that you'll still need to set up an endpoint accessible over the public Internet that the webhook mess

[2017-08-03 16:06] Abiwax commented on #160
Thanks @mattwiller , however when i try to use the sdk for login i keep getting unauthorized auth token, what auth token is required?

[2017-08-03 19:05] mattwiller commented on #160
@Abiwax The API uses OAuth2 tokens, which you can get via a couple different [authentication modes](https://developer.box.com/docs/authentication) depending on what kind of app you have.  If you can show me some of the code you're running, I can try and point you in the right direction.

[2017-08-03 20:42] Abiwax commented on #160
<img width="662" alt="screen shot 2017-08-03 at 5 40 51 pm" src="https://user-images.githubusercontent.com/14370056/28942765-f00c5836-7872-11e7-80ba-5d7ebfb1d5cb.png">
@mattwiller
Am using the instruction as stated in the image above, i think i may be using a wrong access token but theres nothing in the documentation about access tokens and how to generate one.

[2017-08-03 22:54] mattwiller commented on #160
@Abiwax That example code is not usable as-is, you need to fill in your API credentials instead of the placeholders (i.e. `'CLIENT_ID'`, `'CLIENT_SECRET'`, and `'USER_ACCESS_TOKEN'`).  Do you already have an app set up?  If not, you may want to look over the [API documentation](https://developer.box.com/v2.0/docs/overview) for help getting started.

[2017-08-09 13:38] creativesoumik opened #164 "error:0906D06C:PEM routines:PEM_read_bio:no start line"
I got the /examples/app-auth/index.js server running and homepage displayed. But when I try to login I get this error:

An error occurred during login - error:0906D06C:PEM routines:PEM_read_bio:no start line
Error: error:0906D06C:PEM routines:PEM_read_bio:no start line at Sign.sign (crypto.js:329:26) at Object.sign (C:\xampp\htdocs\node-home\projects\box-com\examples\app-auth\node_modules\jwa\inde

[2017-08-10 00:30] mattwiller commented on #164
Hi @creativesoumik — thanks for the detailed error report!  It looks like OpenSSL is having trouble reading your private key (which is in PEM format).  One reason for this might be the line breaks, or some other strange formatting issue.  In the Box Developer Console, you can have Box generate a key pair for you — could you try doing that and seeing if that key pair works correctly with the sample

[2017-08-10 23:26] mattwiller commented on #138
After debugging with @garyforsterio over email, I wanted to circle back to this thread with the primary findings.

This issue is caused when an app is hitting Box API rate limits, and a request for JWT auth tokens fails with a 429 (rate limited) error.  The SDK retries the request exactly as it was first sent, resulting in the API rejecting the `jti` claim of the JWT because the API has already se

[2017-08-14 22:46] mattwiller commented on #157
To update this thread, we just merged #161 to help address this problem; it will make it into the next SDK release (hopefully within the next week or so).

@monofuel Are you still seeing this issue?

[2017-08-15 13:06] jeffrichiefs opened #167 "Incorrect error thrown when given wrong credentials."
Recently began receiving the error below - the issue ended up being an incorrect `keyID`, `privateKey` and `passPhrase`. Should this error be more specific?

Stack trace:

`Trace: { Error: Expired Auth: Auth code or refresh token has expired.
at Object.buildResponseError (/usr/src/app/node_modules/box-node-sdk/lib/util/errors.js:57:23)
at Object.buildExpiredAuthError (/usr/src/app/node_modules/box

[2017-08-15 14:59] dylandechant opened #168 "issues with token exchange"
I have no problem using a curl request to exchange a token (file_preview) for a certain file, I am however having issues with the sdk.

I have tried the token exchange authenticating as the app itself as well as a managed user
[code]
the response i get back is this:
[code]

What am I doing wrong here?

[2017-08-15 18:34] monofuel commented on #157
We are no longer seeing this issue on our production or testing environments, Thanks for the help!

[2017-08-15 22:48] mattwiller commented on #167
Hi @jeffrichiefs!  Yes, this error message could use some updating to reflect the variety of cases where a 400 Bad Request error might happen when trying to get tokens.  Thanks for the report — I'll add it to our backlog!

[2017-08-15 22:59] mattwiller commented on #168
Hi @dylandechant — it looks like you're authenticating as the Service Account and then trying to generate downscoped tokens for a resource owned by a different account — is that correct?  In that case, you'll need to have a client authenticated as the app user and then do the token exchange.  As-User doesn't allow you to get a new set of tokens as that user; you can only exchange tokens that authe

[2017-08-16 04:49] mattwiller commented on #157
Great!  I'm closing this issue now that #161 is merged.

[2017-08-16 14:15] dylandechant commented on #168
@mattwiller yes, thank you, I actually figured this out shortly after I posted.  It would be helpful if this was stated somewhere in the documentation.  Consider this issue closed.

[2017-08-16 14:15] #168 closed

[2017-08-16 19:35] mattwiller commented on #168
@dylandechant Great — I'm glad it's working now!  I've passed on the feedback about our documentation so that we can make it easier to know what to do here.

[2017-08-17 07:52] #145 closed

[2017-08-22 00:40] mattwiller commented on #138
@garyforsterio To close the loop on this, we just published v1.8.0 of the SDK, which includes fixes to the Event Stream that should help with the problem you were seeing here.

[2017-08-24 19:47] monofuel commented on #157
Hmm, unfortunately we are still seeing this error come up occasionally, but It's much more rare than before (it seems only once every few days)

[2017-08-24 20:00] mattwiller commented on #157
@monofuel I'm sorry to hear that — I've reopened the issue for further investigation.  First, can you try updating to the latest version of the SDK (v1.8.0)?  We included a fix for this issue — basically the same as what you were doing manually, but might be good to verify with the latest code.  If you still see it after that, could you show me the exact error/stack trace you're seeing?

[2017-08-24 20:05] monofuel commented on #157
I can do that, I'l let you know what I see in the logs after the update is deployed and when we see the issue again.

[2017-08-28 18:18] smithdalec opened #170 "Create Typescript definitions"
My organization is using the Box Node SDK in a Typescript project, and we've been creating our own type definitions for all the pieces of the SDK that we use, but would benefit from a types library contributed to by Box (and any other contributors of the SDK) so we don't have to build types every time we start using a new feature of the Box API.

Are there any plans for Box to build some Typescrip

[2017-08-29 19:50] mattwiller commented on #170
Hi @smithdalec — Typescript definitions are definitely something we've thought about adding, potentially by converting the SDK itself over to Typescript.  We're not sure where this falls on our backlog, though, so if you have something already working for your project, it would be great to see to give us somewhere to start from so we can decide how we want to go about providing types.  Would you m

[2017-09-06 18:07] monofuel commented on #157
Got the error more this morning. at 7:06am PT, 2 separate servers threw a 401 error when getting a folder, with the error response headers including: `www-authenticate:  "Bearer realm="Service", error="invalid_token", error_description="The access token provided is invalid.""` for both of them.

right at 7:06:06, one server fetched 4 values and then set 4 values (`BOX_ACCESS_TOKEN`, `BOX_REFRESH_T

[2017-09-07 01:16] mattwiller commented on #157
@monofuel Okay, so it definitely looks like an instance of your app is attempting to refresh (with an old refresh token), getting a 400 from the /tokens endpoint, reading from the store, (probably) getting a new token pair, and then making an API call with those new tokens.

In theory those tokens SHOULD be valid, since whichever process last refreshed wrote them there.  I'm not totally certain wh

[2017-09-07 01:24] mattwiller commented on #157
One other piece of data that I just thought of which might be useful — can you check the machine time on all the instances of your app?  If they're not synchronized you might see weird behavior where one instance thinks the tokens are expired and does a refresh but another instance thinks they're still valid and tries to use them, which could cause a 401.

[2017-09-12 20:11] #138 closed

[2017-09-12 20:12] #160 closed

[2017-09-26 00:32] mattwiller commented on #164
Since there hasn't been any activity on this issue in over a month, I'm going to close it.  If you're still having a problem, please reopen the ticket with an update or just open a new ticket!

[2017-09-26 00:32] #164 closed

[2017-09-28 19:01] pauloliver opened #172 "Inconsistency between config from developer console and node sdk"
There's a small inconsistency between box's provided app settings and what the node sdk expects.

At https://github.com/box/box-node-sdk/blob/6f9709121181b6a289e4d97907c5e54d409a8162/lib/util/config.js#L113 , the library is checking for the existence of a `keyID` field. The provided JSON from the developer console provides the following structure:

[code]

I couldn't find it noted in any documenta

[2017-09-28 19:48] mattwiller commented on #172
Hi @pauloliver — the Node SDK provides a utility method for instantiating the SDK from the developer console JSON:

[code]

This method handles mapping from the developer console information to the SDK configuration.

[2017-09-28 20:34] pauloliver commented on #172
Thanks for the reply. Would a small PR to update documentation to include this function be ok? It's in the JSDocs, but that doesn't give it very good visibility or discoverability.

[2017-09-28 20:50] mattwiller commented on #172
Of course!  Please feel free to submit one, or if you don't get to it in the next couple days I'll take care of it

[2017-10-04 22:33] cghil opened #173 "exchangeToken method does not work for multiple scopes"
In token-manager.js, the exchangeToken manager does work with multiple scopes.

The reason is because of this line of code:
`scope: (typeof scopes === 'string' ? scopes : scopes.join(','))`

Needs to be changed to:
`scope: (typeof scopes === 'string' ? scopes : scopes.join(' '))`

scope parameter needs to be in space separated rather than comma separated for exchange.

I have written a fix. I am a

[2017-10-05 06:34] #173 closed

[2017-10-05 20:28] #172 closed

[2017-10-11 22:12] klk- opened #176 "Node SDK 1.9.0 occasionally sending upload requests with wrong order of multipart/form parts"
Looks like this has already been addressed in https://github.com/box/box-node-sdk/pull/23 but it still happens occasionally:  13/748091 uploads with wrong format since 2017-09-01

[2017-10-12 01:02] klk- commented on #176
The limited nature of this suggests its due to clients bypassing the code in Files.uploadFile (which sets the part order correctly), and are calling BoxClient.upload directly, passing it a formData object which has the wrong ordering.

One remediation might be to ensure/fix the ordering of parts in formData in BoxClient.upload.  Or perhaps, update documentation in BoxClient.upload and letting clie

[2017-10-13 22:00] kylefernandadams opened #177 "getAllFileVersionRetentions - Unable to determine paging strategy for response"
getAllFileVersionRetentions is unable to determine paging strategy:
[code]

[2017-10-13 22:10] mattwiller commented on #176
This doesn't look like it's an SDK issue; the uploadFile() method does the right thing.  Users may be manually uploading with parameters in the wrong order.

[2017-10-13 22:10] #176 closed

[2017-10-13 22:10] mattwiller commented on #177
Thanks for reporting — I'll take a look!

[2017-10-17 02:14] cghil opened #178 "client.files.createUploadSession does work in promise format, only works with callback"
`client.files.createUploadSession` does not work in the promise format.

ie.
[code]
Currently, only able to get client.files.createUploadSession with callback argument.

[2017-10-17 02:16] #178 closed

[2017-10-18 13:05] kylefernandadams opened #180 "Implement getReadStream for Representations"
The current methods for fetching the representationInfo is great for checking the existence of the representations. If one does exist, there isn't a clean way to retrieve the representation content binary stream itself. Its definitely possible, but the developer experience is not ideal.

Current Experience:
* Get Representation Info to check if there is a pdf, text, or image representation exists

[2017-10-18 21:04] mattwiller commented on #180
We definitely already had this on the roadmap, but we appreciate the detailed proposal!  I'll update this issue when we start work on this feature.

[2017-10-27 19:42] seejamescode opened #181 "404 for Folders Metadata"
Hello! After successfully getting service account‘s login information, I fail to get my folder‘s metadata. Do you have any pointers of what could be wrong with the code?

The code:
[code]

The output of result:
[code]

[2017-10-27 20:08] mattwiller commented on #181
Hi @seejamescode — are you sure that the folder belongs to the service account and not some other user?  Your code looks fine to me, and without more information, I can't really tell you why the API is giving you a 404 here.

In addition, be careful when posting full request object output like this — your original post contained your access token (which I edited out for you).  If you can, you shou

[2017-10-27 20:34] seejamescode commented on #181
Ah, I think I got a bit closer because of your explanation. I added the service account as a co-owner of the folder. Now I get null instead of a 404. Is null the expected result?

[2017-10-27 20:55] mattwiller commented on #181
Your code was using a callback but only taking one argument, so what you have as result here:
[code]
Is actually the error object; it being null is actually a good thing!  If you want to use a callback for this, you should change to something like this:
[code]

Alternatively, you can use promises like this:
[code]

[2017-10-30 18:08] seejamescode commented on #181
Thank you!

[2017-10-30 18:08] #181 closed

[2017-11-01 21:59] monofuel commented on #157
We ended up switching to using the basic box client and handling oauth2 refreshing in our application rather than using the persistent client.

We added more logging, and found that sometimes we get 401 responses for access tokens that still have a lot of life left:

[code]

time to expire is in milliseconds, based on acquiredAtMS, accessTokenTTLMS, and the current time. (using `Date.now()` in nod

[2017-11-01 22:03] mattwiller commented on #157
@monofuel Thanks for following up!  I'm glad to hear everything's working now.  I'm going to close this issue since you're in a working state, but I'll follow up with our API team to investigate why you might have been seeing 401s when the tokens should not have been expired; it's possible there's some other issue at play here.

[2017-11-01 22:03] #157 closed

[2017-11-15 18:45] louis-sanna opened #185 "App Auth Client: TypeError: key must be a string or buffer"
The following code returns an error when the upload function is called:

[code]

Error:

[code]

At this line: https://github.com/box/box-node-sdk/blob/master/lib/token-manager.js#L316 the argument keyParams is an object, but a lower level library (https://github.com/brianloveswords/node-jwa) seems to expect a buffer or string. I think using a newer version of jsonwebtoken  https://github.com/box/

[2017-11-15 19:23] mattwiller commented on #185
Hey @louis-sanna — it actually looks like this might be an error with your code.  Can you please check the value in your config object, specifically `_config.box.boxAppSettings.appAuth.privateKey`?  That's the value that this error is complaining about — it needs to be a string or a Buffer.

If you got your config from the Box Developer Console, the correct way to use that config blob with this SD

[2017-11-16 09:23] louis-sanna commented on #185
@mattwiller

-  I checked and `console.log(typeof _config.box.boxAppSettings.appAuth.privateKey);` returns `string`.

- if I use getPreconfiguredInstance, I still get an error when I call `appUserClient.files.uploadFile `

[code]
 I added a console.log on this.config just before the error:

[code]

[2017-11-16 09:35] mattwiller commented on #185
@louis-sanna Sorry about that, I deleted your comment because it had both your clientID and clientSecret in it — please be careful about posting data like that in public, since it could allow someone else to access your app!

You mentioned that `console.log(typeof _config.box.boxAppSettings.appAuth.privateKey);` returns `'string'`, which seems correct.  I'll look further into this in the morning!

[2017-11-16 15:36] louis-sanna commented on #185
The error described in comment n°2 came the field `publicKeyID` I had renamed to `keyId`, so it no longer worked with `getPreconfiguredInstance`. Now I get the same error with `getPreconfiguredInstance` or without:
` TypeError: key must be a string or buffer`

[2017-11-16 17:57] louis-sanna commented on #185
I modified manually the version of jws from 3.0.0 to 3.1.4 (which is a dependency of jsonwebtoken) and it works!

Would it be possible to upgrade `jsonwebtoken` to 8.1.0?

[2017-11-16 19:26] mattwiller commented on #185
The version of `jsonwebtoken` we're using (5.7.0) is using `jws@^3.0.0`, which should include v3.1.4 already.  To test, I reinstalled the SDK and verified that it would use the correct version:
[code]

Could you try reinstalling `box-node-sdk` via npm and see if that resolves your issue?

[2017-11-17 10:53] louis-sanna commented on #185
@mattwiller it's fixed, the problem came from npm.

Thanks for your help.

[2017-11-17 10:53] #185 closed

[2017-11-27 13:51] ovvn opened #186 "TypeError: key must be a string or buffer"
Obtained json file with the structure:
[code]
Trying to generate an enterprise access token according to
https://developer.box.com/v2.0/docs/authentication-with-jwt#section-3-generate-an-enterprise-access-token-with-box-sdks with the following code:
[code]

Getting the error:
[code]

[2017-11-27 14:06] ovvn commented on #186
Ok, looks like it's a problem with node/npm. On node v6.11.5 (npm v3.10.10) it works fine. The error occures in v8.9.1 (npm v5.5.1). Any ideas why it happens?

[2017-11-28 00:46] mattwiller commented on #186
Hi @ovvn — we just had another report of a similar issue that was fixed by re-installing the SDK — it seems like the version of one of its dependencies gets messed up.  I'll see if I can dig in to see why this is happening, but in the meantime could you try reinstalling the SDK and let me know if that fixes the issue for you?

[2017-11-28 07:25] ovvn commented on #186
Hi @mattwiller. Yes, if I switch to node v6.11.5 (npm v3.10.10) and reinstall all packages including the `box-node-sdk`, it works fine. If I reinstall modules in node v8.9.1 (npm v5.5.1) then the line throws:
[code]

[2017-11-28 19:37] #186 closed

[2017-11-29 18:38] ovvn opened #188 "How to use sdk with App Token (Server Authentication)?"
I got the sdk working with "OAuth 2.0 with JWT (Server Authentication)" method, e.g. when `clientId` and `clientSecret` are provided, but couldn't find a way to use the sdk properly when you have `Primary Access Token`, `Secondary Access Token` and `API Key for Your Application` with "App Token (Server Authentication)" method.

[2017-11-29 19:12] mattwiller commented on #186
Just to close the loop on this, we release v1.10.1 of the SDK, which should fix this issue.  If you still see this bug, please open another issue so we can continue investigating!

[2017-11-29 19:41] ovvn commented on #188
Hi @mattwiller, when we get to the code `var client = sdk.getBasicClient(accessToken)` we should already have sdk initialized as follows, right?
[code]
But there're no `clientId` and `clientSecret` when creating an app at api.box.com with "App Token (Server Authentication)" authentication method:
![screenshot from 2017-11-29 22-41-02](https://user-images.githubusercontent.com/2973998/33395395-6bef

[2017-11-29 21:15] mattwiller commented on #188
That's correct, but you can use dummy values for either one since the SDK will never need to use them for this auth type.  Something like this should work:

[code]

[2017-11-30 07:05] ovvn commented on #188
Ok, tested as follows:
[code]
Getting the 403 error:
[code]

[2017-11-30 18:27] mattwiller commented on #188
This is a restriction of the auth model you're using — App Token Auth is currently only designed for content preview use cases.  See https://developer.box.com/docs/getting-started-with-new-box-view for more information, including a list of supported API endpoints.  If you want to do more than just content preview with your app, you'll need to use JWT Server Auth instead of App Token Auth.

[2017-11-30 19:21] ovvn commented on #188
Thank you for the clarification, will use the "OAuth 2.0 with JWT (Server Authentication)" method.

[2017-11-30 19:21] #188 closed

[2017-12-04 19:09] ovvn opened #189 "How to generate a shared link for a file?"
Could you provide an example of how to generate a shared link for a file that was uploaded?

[2017-12-04 23:27] mattwiller commented on #189
Please refer to the [documentation](https://github.com/box/box-node-sdk/blob/master/docs/files.md#create-a-shared-link) for information on the available SDK methods.

[2017-12-04 23:27] #189 closed

[2017-12-04 23:28] mattwiller commented on #177
To close the loop here, this bug was fixed in v1.10.0 of the SDK

[2017-12-04 23:28] #177 closed

[2017-12-06 09:11] neocolmartin opened #190 "uploadFile does not support content_created_at or content_modified_at"
In the REST API docs, https://developer.box.com/v2.0/reference#upload-a-file documents the `content_created_at` and `content_modified_at` fields. However, there is nowhere to specify these fields in the uploadFile() function in the Box Node SDK. Indeed, there is a comment in the code stating "This method currently does not support any optional parameters such as contentModifiedAt"

For example, th

[2017-12-07 01:49] mattwiller commented on #190
Hey @neocolmartin — you're right, we'll need to add the ability to pass options to this method.  I'll look into this in the next few days!

[2017-12-07 23:56] #190 closed

[2017-12-08 09:00] neocolmartin commented on #190
Thanks @mattwiller.
Is there a plan for when the next version will be pushed to npm?

[2017-12-11 18:25] mattwiller commented on #190
We're just wrapping up another feature for inclusion in the next release — should be today or tomorrow!

[2017-12-11 19:20] cghil opened #193 "Node SDK has no way to make annotator tokens for View API"
No method exists to create an annotator token.

To learn how, please see this section of annotations for View API.
https://developer.box.com/docs/getting-started-with-new-box-view#section-annotations

To make an annotator token, you need a JWT that will use a `alg` value of `none`. The following attributes will be need to constructed the claim: https://developer.box.com/docs/getting-started-with-n

[2017-12-12 23:15] #193 closed

[2017-12-13 00:55] carycheng77 commented on #190
Hey @neocolmartin, thanks for you patience. We just released a new version of the box-node-sdk today that supports content_created_at and content_modified_at for uploadFile and uploadNewFileVersion.

Thanks!

[2017-12-13 13:30] ovvn opened #201 "How to get a thumbnail properly?"
Tried to load a thumbnail using sdk as follows:
[code]
Got the response:
[code]
The gif file is just a picture with file format name, how can I get an actual thumbnail of uploaded file?

[2017-12-13 19:05] mattwiller commented on #201
Hey @ovvn — the [thumbnail API documentation](https://developer.box.com/v2.0/reference#get-a-thumbnail-for-a-file) indicates that a status code of 302 means that Box could not generate a thumbnail for that file type and the provided placeholder graphic can be used instead.

[2017-12-13 19:05] #201 closed

[2017-12-13 19:29] ovvn commented on #201
Hi @mattwiller, thanks for the information. Looks like `getThumbnail` doesn't work, I was able to get a thumbnail for the same file using curl endpoints as follows https://codepen.io/ovvn/pen/OzPZmx. It's interesting how to achieve the same result using sdk.

[2017-12-13 20:18] mattwiller commented on #201
@ovvn Please be careful posting codepens like that publicly!  It has your access token in it, which if you're not careful will let someone else make API calls in your account!  *You should invalidate that access token or remove the codepen immediately!*

[2017-12-13 20:26] mattwiller commented on #201
From looking at the codepen, I can see that it's using a different endpoint than `files.getThumbnail()` — to replicate your codepen using the SDK, call `files.getRepresentationInfo()` instead.  The representations endpoint is more general-purpose than the thumbnail one — it supports a variety of representation types and sizes, but does not return fallback placeholder graphics in the case where the

[2017-12-13 21:23] ovvn commented on #201
@mattwiller thank you for your care, it's good that the access token invalidates automatically, i.e. expires after some time. Will use `files.getRepresentationInfo()` for now. I agree it doesn't suit very well as a thumbnail, it's rather a workaround. I wish thumbnails are available for more file formats so `files.getThumbnail()` could generate a thumbnail image for pdf, not just a placeholder.

[2017-12-20 21:54] #144 closed

[2017-12-27 11:16] louis-sanna commented on #180
@kylefernandadams @mattwiller

do you happen to have some sample code?

I can get the representation with a curl request:

`curl -X GET url  -H "authorization: Bearer accessToken" -o file.jpg`

but with client.get

[code]

I get a status 202 response of content/type text/html and content-length: 0.

[2017-12-27 17:30] mattwiller commented on #180
Hey @louis-sanna — I'm not totally sure what the situation you're describing is without the actual types of URLs you're using here, but here's an example of how I got this working on my laptop just now:

[code]

The 202 error you're seeing may indicate that the representation you requested is still being generated; you might want to handle that status code by retrying later.

[2017-12-27 18:07] louis-sanna commented on #180
@mattwiller The representation was indeed in `pending` state, retrying later fix the error.

Thanks for the help!

[2018-01-11 19:42] patriciali opened #207 "Issue using chunked uploader"
I'm trying to use the chunked upload API (https://developer.box.com/reference#chunked-upload) via the Box Node SDK (https://github.com/box/box-node-sdk/blob/master/docs/files.md#chunked-upload) to upload large files. I'm using request (https://www.npmjs.com/package/request#streaming) to get an http.IncomingMessage (https://nodejs.org/api/http.html#http_class_http_incomingmessage), which implements

[2018-01-11 21:21] mattwiller commented on #207
Hi @patriciali — based on the logs you sent it looks like the error is due to an invalid part size.  It looks like this is probably due to the `filesize` specified in `this._boxClient.getChunkedUploaderAsync()` being incorrect — you told the API to expect that many bytes but the stream ran out of bytes before that point.  The API expects each chunk uploaded to have uniform size except for the last

[2018-01-12 08:12] ovvn opened #208 "How to generate a unique access token?"
I need to generate a unique access token for each user that opens up a preview on the client side.

Currently on the server side of my node project I obtain an access token as follows:
[code]
Problem is when 100 users open up a preview simultaneously they get the same `accessToken` which breaks the `limit of 10 API calls per second per user`. Is there a way to generate a unique access token each t

[2018-01-12 20:00] mattwiller commented on #208
Hey @ovvn — if you have users for your application that you want to "shadow" on Box, so that each of your users has their own corresponding Box account that your application manages, you should create App Users for them and maintain some sort of mapping between your users and their App User accounts.  For example, our [sample app](https://github.com/box/box-node-sdk/blob/master/examples/app-auth/i

[2018-01-15 09:23] ovvn commented on #208
Thank you very much for the approach. It does generates unique tokens but unfortunately the app users' access tokens don't work for a content preview. First I created some app users as follows:
[code]
Also tried the way it's implemented in your [sample](https://github.com/box/box-node-sdk/blob/master/examples/app-auth/index.js#L139-L142) - worked great.
So I obtained new app users in the format:
[

[2018-01-16 08:40] mattwiller commented on #208
@ovvn Are you sure the newly-created app user has access to the files your want to preview?  Since the app user is its own account, any content you want it to be able to access will need to be collaborated with it — it does not automatically get access to the service account's files.

[2018-01-16 09:47] ovvn commented on #208
@mattwiller yes I also think there's something wrong with permissions, but couldn't find how to fix it. On the box web site I can choose an app user and select folders this user can access, but it doesn't show me a folder with all files that were uploaded by the app. Initially I created an app and uploaded a bunch of files there to the 'root' (id=0) folder. Now I can't find a way how to "share" th

[2018-01-16 10:15] mattwiller commented on #208
@ovvn If you have a non-root folder in the service account (the one you get with `sdk. getAppAuthClient 'enterprise' ...`), you can [add a collaboration onto that folder](https://github.com/box/box-node-sdk/blob/master/docs/collaborations.md#add-a-collaboration) with your `enterpriseClient` in order to grant the app user account access to the folder.

[2018-01-16 10:20] ovvn commented on #208
@mattwiller it makes sense and I created an empty non-root folder in the service account, but how can I move all files in the root folder to the non-root folder?

[2018-01-16 19:29] mattwiller commented on #208
Hey @ovvn — please see the documentation for [getting the items in a folder](https://github.com/box/box-node-sdk/blob/master/docs/folders.md#get-a-folders-items) and [moving a file](https://github.com/box/box-node-sdk/blob/master/docs/files.md#move-a-file) — you can get the items in the service account's root folder (which has ID `'0'`) and move them into the new folder you created.  Then you can

[2018-01-17 09:20] ovvn commented on #208
hi @mattwiller, really appreciate your help. it worked.

[2018-01-17 09:20] #208 closed

[2018-01-17 21:40] patriciali commented on #207
Hi @mattwiller, thanks for the quick response.

The value we're passing into `getChunkedUploaderAsync` looks correct. "Get info" on my Mac says 49,904,616 bytes (see https://www.dropbox.com/s/kd0kwj1ibp7ov4b/ai-size.png?dl=0), which is the value we're passing.

The error log says `_bytesDispatched: 7457628` for the last chunk, so I tried passing in 5 * 8388608 + 7457628 = 49400668. This also faile

[2018-01-18 05:01] mattwiller commented on #207
Hmm, there seems to be something strange going on then — perhaps the stream isn't correctly providing the bytes or the file size from over the network is somehow different than what you have on disk?  I'm not totally sure what the `_bytesDispatched` property means on a net stream, but based on the logs you sent it looks like the stream was just a little off on how much data it provided.  The reque

[2018-01-18 22:13] ORESoftware opened #209 "Docs bug - explanation for authCode needed"
I am looking at this code block in the readme.md file:

[code]

I am not sure if it's just me, but I am having trouble figuring out what the `authCode` variable represents

[2018-01-18 22:55] patriciali commented on #207
1. Nope :( Although strangely enough it looks like it's using chunk sizes twice as big (`16777216` instead of `8388608` like before). Log: https://www.dropbox.com/s/83leuftnv2wfrnn/log49574358.txt?dl=0
2. It looks like it. I didn't compare the entire string, but the first dozen or so and last dozen bytes match.

For what it's worth, if I first download the entire file into memory (using the same l

[2018-01-18 23:56] mattwiller commented on #209
Hi @ORESoftware — the `authCode` variable here represents the **authorization code** from the OAuth2 flow.  See our [reference docs](https://developer.box.com/v2.0/reference/#oauth-2-overview) or [detailed OAuth2 guide](https://developer.box.com/v2.0/docs/oauth-20) for more information.

[2018-01-19 00:00] mattwiller commented on #207
Hmm, okay then — thanks for testing that out for me.  Our company firewall blocks Dropbox, so it's hard for me to get to the logs and sample file that you've posted.  Would you mind emailing them to me at mwiller@box.com — I'll try on my computer to see if I can reproduce the problem and debug it in my environment.

[2018-01-19 19:54] patriciali commented on #207
Done

[2018-01-19 20:00] mattwiller commented on #207
Thank you!  I'll start investigating today and let you know what I find out.

[2018-01-19 23:11] mattwiller commented on #207
@patriciali It looks like the issue is a bad interaction with the way `request` handles the stream internally — it looks like `request` places the stream into flowing mode by default sometime after the "response" event is fired.  This causes inconsistency in trying to read the stream manually later after the upload session is created since some bytes may have already been read from the stream.  Th

[2018-01-22 21:06] patriciali commented on #207
@mattwiller that did the trick - thanks for your help investigating!

[2018-01-23 02:18] #207 closed

[2018-01-24 19:56] patriciali opened #213 "Rate limiting: is `Retry-After` header respected?"
The [docs](https://developer.box.com/reference#rate-limiting) claim that Box API will send a `Retry-After` header with 429 responses indicating how much time we should wait before making the next request. But that header doesn't seem to be respected in the Node SDK. I see a reference in [files.commitUploadSession](https://github.com/box/box-node-sdk/blob/7146ece42bfb27f251eaad5c582a78f31e1572a4/li

[2018-01-24 20:01] mattwiller commented on #213
Hi @patriciali — there's actually a discussion about this exact issue going on over at the [Box Java SDK](https://github.com/box/box-java-sdk/issues/438)!  We're planning to implement exponential backoff with randomized jitter in the Node SDK, and do not plan to respect the Retry-After header in error scenarios (e.g. the 429 Too Many Requests response) since it does not give enough information for

[2018-01-24 21:46] patriciali commented on #213
Hah, gotcha. How would you recommend we cobble on an exponential backoff in the meantime? (Or is that recommended?) Also, just for reference, do you have an estimate of when the backoff logic will be added to the Node SDK?

[2018-01-25 20:14] barakbd opened #214 "getHeaders from response?"
How do I read the response headers/status-code  in the node-sdk?

[2018-01-25 20:23] mattwiller commented on #213
You shouldn't need to implement exponential backoff yourself — if the SDK is working fine for you today, it's not worth the effort.  Adding better retry logic to the SDK is on our roadmap for the next three months, so it'll probably land by the end of March.

[2018-01-25 20:38] mattwiller commented on #214
Hi @barakbd — can you share some of the code you're working on so I can give you more tailored help?  In general, the SDK automatically checks status codes and uses headers to create the data it passes back.  Are you seeing some sort of error?

[2018-01-25 21:47] barakbd commented on #214
https://github.com/barakbd/box_node_sdk

[2018-01-25 22:17] patriciali commented on #213
I see. I'm asking because earlier this week we saw a spike of 429s from Box. We're trying to figure out with Box support whether it was due to hitting our monthly storage/API request limits, or whether we were sending too many requests within a shorter window of time, but given that the [docs](https://developer.box.com/reference#rate-limiting) say

I'm guessing it's the latter. We're working on re

[2018-01-25 22:57] mattwiller commented on #214
@barakbd If search is returning a successful response with an empty array, are you sure that the Service Account has files matching your query in its account?  Note that the [search API documentation][search] states that content may not be indexed by search for up to 10 minutes.

As far as your original request about request headers and status code, can you point me to a specific place in your cod

[2018-01-25 23:01] mattwiller commented on #213
You're correct — a 429 response would indicate that your application has made too many calls in a short period of time.  Better retry logic would probably help your app recover from hitting the rate limit (which is why we're prioritizing that work this quarter!), but you may want to to try ensure within your application that you don't hit the rate limit in the first place.  If you can share, what

[2018-01-25 23:14] barakbd commented on #214
I found the problem I was creating content through the website logged in as the user that owns the service account.
User !== Service Account :)

Thanks for the prompt replies!

I found this - https://community.box.com/t5/Box-Developer-Forum/Service-account-can-only-quot-see-quot-content-it-owns/td-p/30004

[2018-01-25 23:20] mattwiller commented on #214
Ahh, yeah — that's a common misconception, glad you got the information you needed!  The account of the developer who created the application is not the same as the service account, and both are different from any app user accounts created by the application.  Each account has its own user ID and content, though you can [collaborate content][collab] between them to share it among different account

[2018-01-25 23:20] #214 closed

[2018-01-25 23:26] barakbd commented on #214
I see.
Can a user invite a Service Account as collaborator the same was as any other user, i.e. through the website UI and not API?

[2018-01-26 00:03] mattwiller commented on #214
I don't know of a good way to do that through the UI — I believe you need to get a token for the developer user and collaborate the service account via the API.

[2018-01-26 00:08] barakbd commented on #214
Thought so :(

Thanks!

[2018-01-26 00:16] #209 closed

[2018-01-26 00:24] patriciali commented on #213
We're using Box to power thumbnail generation and document previews within our product. For each file a user uploads, we do the following:
1. Upload the file to Box (chunked upload if it's > 20mb)
2. Use getRepresentationInfo to get the URL to trigger thumbnail processing
3. Send  GET to that URL to trigger thumbnail processing
4. Poll getRepresentationInfo every 5 seconds until the thumbnail stat

[2018-01-26 00:43] mattwiller commented on #213
Since rate limits are defined per Box user, the way your app is set up may have an impact here.  Can you share how you're doing authentication?  There are four options for Box API authentication:

1. __Traditional 3-legged OAuth2__: If your users are already Box users and you want to integrate with their existing Box accounts, you can have them authorize your app and get a rate limit unique to eac

[2018-01-26 19:29] patriciali commented on #213
We're doing 2. 3 looks promising. A couple questions:
1. We had to manually increase the storage limit on our service account from the default 10gb to "unlimited". I saw [this](https://developer.box.com/v2.0/reference#update-a-users-information) API endpoint, but couldn't figure out what the user_id of the service account was, and when I wrote into support the guy told me to do it manually with th

[2018-01-27 00:59] mattwiller commented on #213
1. According to the [API Reference docs](https://developer.box.com/v2.0/reference#update-a-users-information) you _should_ be able to update the App User's storage limit to unlimited by doing something like `client.users.update(appUserID, { space_amount: -1 })`.  You can get the ID for the app user from the returned object when you create it.

2. I'm not an expert on the pricing or contracts for d

[2018-01-29 19:39] patriciali commented on #213
Got it. I guess we'll need to discuss internally and decide what to do, so I'll just close this ticket, since my original question was answered anyway. Thanks!

[2018-01-29 19:39] #213 closed

[2018-01-31 01:54] barakbd opened #219 "Error on client.search.query"
This is my snippet of code:

[code]

And below is the error response I get.
When I try the token in a direct API request (Bearer in the header), the request succeeds.

[code]

[2018-01-31 06:53] mattwiller commented on #219
Hi @barakbd — this looks like an auth issue; could you show me how you're generating the `boxManagedUserClient` that you're using?  Also, what steps did you take to make it work manually?

[2018-01-31 19:27] barakbd commented on #219
Goal: I am trying to search for a folder named ""Pseudo" which is owned by user testuser@domain.com, using OAuth.

Leg 1 - user logs into box and authorizes my app following this link: https://account.box.com/api/oauth2/authorize?response_type=code&client_id=CLIENT_ID&box_login=testuser@domain.com&redirect_uri=http://localhost:3200/box/linkCardFolder/**Pseud**

Legs 2 and 3 - my server is listenin

[2018-01-31 22:00] mattwiller commented on #219
Two things I noticed looking at your code above:

1. `BoxManagedUserSDK.getTokensAuthorizationCodeGrant(req.query.code, null)` returns `Promise<TokenInfo>` (a promise resolving to the full token info object), so in `.then()` you don't get the access token, you get an object with the access token in it.  You'll need to take the access token from that object and put it into the client.

2. We have a

[2018-01-31 22:26] barakbd commented on #219
Thanks! Stupid mistake by me :)

Is there a @types/box-node-sdk npm package?
I am looking to start using Typescript.

[2018-01-31 22:36] barakbd commented on #219
Now getting this error - "message": "External collaboration is restricted on this item",
Scopes?

[2018-02-01 01:58] mattwiller commented on #219
@barakbd We don't currently provide Typescript definitions, but they're something we might look to add in the future.  It's good data for us to know that people are interested in them!

The "External collaboration is restricted on this item" error message you're seeing usually means that the enterprise administrator or item owner has disallowed collaborating that item with users outside of their e

[2018-02-01 23:31] barakbd commented on #219
Can Service Account invite external collaborators?
If the Service Account is an Owner of a folder can it invite external collaborators?
Is there a setting to limit that?

[2018-02-01 23:47] mattwiller commented on #219
My understanding is that if External Collaboration is restricted, no account can add external collaborators to that item.  This setting would apply in cases where the content in that folder or in the entire enterprise is considered too sensitive to share outside the enterprise.  In this case, the only people you can add as collaborators are people inside the enterprise (managed users).

[2018-02-02 00:25] barakbd commented on #219
Thanks.
After we receive the code, our backend runs some functions.
On success we need to refresh our frontend.

However, since this is OAuth, and the request to our redirect URI is made from a box endpoint
, our frontend has no way of getting a response.
What is the best way to handle this?

Is there a way to get the code in the frontend and with a hook?

[2018-02-02 02:31] mattwiller commented on #219
Unfortunately, there is no way to get the auth code in a client-side application.  You will need a backend server to receive the auth code and exchange it for a token pair.  Without knowing much about exactly how your application is structured, I can't really make a lot of recommendations about how best to structure everything.  However, in general, I would say that anything on the client should n

[2018-02-02 18:00] barakbd commented on #219
Thought so.

How can I generate a developer token for the service account?
When I go to the app and generate a developer token, then call /users/me, it retrieves the user who created the app, not the app service account.

[2018-02-02 19:19] barakbd commented on #219
Perfect!

Thank you very much for all the help!
Issue Closed :)

[2018-02-02 19:20] #219 closed

[2018-02-05 12:29] ruchitpatel56 commented on #188
@ovvn : As you mentioned, you are working with 'box-node-sdk' and you succeed with OAuth 2.0 with JWT authentication.
I also want to use 'box-node-sdk' in my Angular 4 application to generate JWT token. But it is giving me error that box-node-sdk.js not found.

I am following below steps:
1. npm install --save box-node-sdk
2. Added var BoxSDK = require('box-node-sdk'); in one of the component.
But

[2018-02-05 18:52] mattwiller commented on #188
Hi @ruchitpatel56 — are you trying to use the Node SDK to generate the JWT token on the client side (running in a web browser)?  The Node SDK, especially the authentication functionality, is not set up to work in that context — it's designed for use on a backend Node.js server.

[2018-02-06 04:29] ruchitpatel56 commented on #188
Ok..Got it..
So in this case I have to create separate new project in node js which will work to generate JWT token only.
Thanks @mattwiller .

[2018-02-06 10:15] Arvind6353 opened #221 "Empty entries array on doing enterprise search"
Hi ,
On doing a search using service account client with scope set as enterprise_content , getting the below response .

**https://api.box.com/2.0/search?query=sales&file_extensions=pdf,docx&scope=enterprise_content**

How do I get the entries array?

Below is the response am getting :
{
    "total_count": 253521,
    "entries": [],
    "limit": 30,
    "offset": 0
}

[2018-02-06 18:42] carycheng commented on #221
Hey @Arvind6353,

Thank you for reaching out - couple of questions

1. Wondering if you are using an user account or a service account to make the callout to the search endpoint? Ideally you should be using the service account to perform this action as it represents a Box Platform application and the access token generated from a service account has access to content across your enterprise whereas

[2018-02-07 04:18] Arvind6353 commented on #221
Hi @carycheng .

I am using the service account to make the search api call .  I checked the scope settings and
"Read and Write all files stored in Box" scope is already checked. When I do a search using the service account client am getting the below response.

**{
    "total_count": 417046,
    "entries": [],
    "limit": 30,
    "offset": 0
}**

I wonder why the entries array is coming as empty

[2018-02-07 06:10] mattwiller commented on #221
@Arvind6353 The discrepancy between `total_count` and the contents of the array can occur when our search index returns items that are filtered out of the final result set, for example because they have been deleted or the user does not have permission to view those files anymore.  If the first 30 items returned from the search index were all filtered out for the final result set, you'll get an em

[2018-02-07 06:21] Arvind6353 commented on #221
Hi @mattwiller , thanks for the explanation .
Looks like those docs do not have the permission .

I created a folder with some docs in my box and used service account to access the content via search api and it is returning the result after adding the app as a collaborator to the folder

I will try to get some permission for docs outside of my account and try this step out and will get back if I f

[2018-02-10 21:52] praveen4554 opened #224 "multiple files upload"
Hi

i would like to upload multiple files to box at a time is der any function for multiple files upload in box-node-sdk

Thanks,
Praveen

[2018-02-11 01:27] carycheng commented on #224
Hey @praveen4554,

Unfortunately we don't have a method for the user to upload multiple files at once. Can I dig in more for your use case? Maybe there is something else that might be helpful I can assist with.

Thanks!

[2018-02-11 06:26] praveen4554 commented on #224
Hi @carycheng

   From UI user uploaded 3 to 5 files and submit the files. so we are getting those files and I need to upload them into BOX at a time can you help me for this

Thanks,
Praveen

[2018-02-11 08:13] carycheng commented on #224
Hey @praveen4554,

If you are building a application with ui/functionality where you allow users to upload multiple files to Box you should try out out our Box Content Uploader seen [here](https://developer.box.com/docs/box-content-uploader)

The set up is pretty straightforward and allows the user to drag and drop multiple items and upload to a Box folder you specify(through the folder id). This

[2018-02-11 18:14] praveen4554 commented on #224
Hi @carycheng

   I know this method

Thanks
Praveen

[2018-02-12 09:26] praveen4554 commented on #224
Hi @carycheng

     I would like to read the file in streams and convert the file data to base64 can you please guide me the method name for reading the file with fileID

Thanks,
Praveen

[2018-02-12 17:52] carycheng commented on #224
Hey @praveen4554, this should accomplish what you are trying to do:

https://github.com/box/box-node-sdk/blob/master/docs/files.md#download-a-file

[2018-02-12 19:14] praveen4554 commented on #224
Hi @carycheng, it returns path, href,pathname I want to convert to the stream to base64 I didn't get anything related data in the stream
my response
    "pathname": "/d/1/WYzpf8CF3EeFrUEkmlFLdTv83PTUTVzpO45FhS1PCdPkUTGrIvy9c8mWuothWhQ9KsQrPCi_Vt2ygj_lYDkm9KPMcak-eh6AbiE-lmdSV4DXyJyvqm12T5gFyQN-9X4lf_bwryxKsnBmjwJlLO-zEEk0wmdy3O2U2y3Trfg2zafxXGXWLe89WUNWnWK8LpoG5LKZybCmDHJ8ns8jUSX3pwIrHZq8lpupBjYbi

[2018-02-13 01:51] mattwiller commented on #224
Hi @praveen4554 — the `getReadStream()` method returns a [Readable stream](https://nodejs.org/api/stream.html#stream_class_stream_readable) — you'll need to either read the data from the stream using `stream.on('data')` or something similar and encode it yourself, or implement some sort of [Transform stream](https://nodejs.org/api/stream.html#stream_class_stream_transform) to encode the data yours

[2018-02-15 21:22] ORESoftware opened #225 "Stupid question - is there a front-end JS SDK for box"
Stupid question - is there a front-end JS SDK for box?

sorry just on a constraint here

[2018-02-15 21:24] ORESoftware commented on #225
I see this:
https://github.com/allenmichael/box-javascript-sdk

is that the best one?

[2018-02-15 21:51] mattwiller commented on #225
@ORESoftware For now, that is the best one to use.  It's on our roadmap to eventually combine the two SDKs and provide an isomorphic SDK that works on both Node.js and browsers, but that is not yet available.

[2018-02-15 23:02] ORESoftware commented on #225
thanks for the feedback! sounds good

[2018-02-21 05:35] Arvind6353 commented on #221
Hi @mattwiller ,

I am able to integrate with Box node sdk and using service account and am able to get the results.

In some of the results , I find that the **shared_link** is coming as null . What could be the reason ?

When I go that **document and click on share link** ( it is generating a shared link). And later when I fire the same search call , I am able to see the shared link for that doc

[2018-02-21 18:44] mattwiller commented on #221
The `shared_link` field is not populated by default; you have to specifically choose to generate a shared link for each item.  This is done for security reasons — not every file should be shared publicly!  In this case, your service account seems to have the correct permissions to view the shared link, those items just don't have a shared link yet.  You can [create a shared link using the SDK](htt

[2018-02-22 05:35] #225 closed

[2018-02-22 05:36] #221 closed

[2018-02-22 05:36] #224 closed

[2018-02-23 19:25] #180 closed

[2018-02-25 15:27] Arvind6353 commented on #221
Thanks for the detailed explanation :)

[2018-03-06 12:54] sagardew opened #238 ""clientID" must be set via init() before using the SDK"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
I am passing string values of clientID and clientSecret key coming from the config file , still i face this error.

[2018-03-06 19:21] mattwiller commented on #238
@sagardew Unfortunately, the stack trace you provided doesn't include any SDK stack frames, so it's not very helpful for me.  Could you show me how you're instantiating the SDK?  That error message isn't very helpful — I'll take an action item to fix it — but what it's telling you is that the SDK needs to be instantiated with a client ID and client secret like the following:

[code]

Alternatively

[2018-03-07 11:58] sagardew commented on #238
Hi @mattwiller  , Thanks for the quick reply . i am putting the stack frames from sdk . and i am instantiating in the contructor of my .ts file.

AssertionError: "clientID" must be set via init() before using the SDK.
at validateBasicParams (/Users/sagardew/boxi/node_modules/box-node-sdk/lib/util/config.js:97:2)
at new Config (/Users/sagardew/box/node_modules/box-node-sdk/lib/util/config.js:137:2)

[2018-03-07 17:42] mattwiller commented on #238
@sagardew I see your problem — your code uses `clientId` (with lower case 'd'), but the expected key is `clientID` (with upper case 'D').  Also, I'm curious — what are you using the `redirectUri`, `accessToken`, and `logLevel` options for?  Those aren't options that the SDK takes in its constructor.

[2018-03-08 07:44] sagardew commented on #238
Thanks @mattwiller for your quick response , It was a silly mistake by my end. Also redirecturi and accesstoken was just a proto created , they are not in use.

[2018-03-08 07:44] #238 closed

[2018-03-09 06:48] #45 closed

[2018-03-12 21:08] #167 closed

[2018-03-13 00:08] barakbd opened #241 "How to stream files to Box using multiparty"
- [x ] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
Cannot figure out how to stream a file to Box from an incoming POST API call.

### Versions Used
Node SDK: ^1.12.1
Node.js: v9.4.0

### Steps to Reproduce
[code]
### Error Message, Including Stack Trace
Sending file from Postman using form-data, no hea

[2018-03-13 00:31] mattwiller commented on #241
Hey @barakbd — per the [Chunked Upload API documentation](https://developer.box.com/v2.0/reference/#chunked-upload), the minimum file size allowed is 20 MB.  The error message you're getting indicates that the file you're trying to upload is ~500 KB, way too small to use this API for.  You should use the [standard upload method](https://github.com/box/box-node-sdk/blob/master/docs/files.md#upload-

[2018-03-13 18:09] jakubrpawlowski opened #242 "Options object null causes problems with 1.14 release"
Please see my commit comment: https://github.com/box/box-node-sdk/commit/4092f00dbd5dc958728bd025086702afba20e3bc#commitcomment-28072274

[2018-03-13 18:40] #242 closed

[2018-03-13 18:44] mattwiller commented on #242
@jakubrpawlowski We just released v1.14.1 of the SDK, which should fix this issue.  Thank you for reporting it!

[2018-03-13 18:52] barakbd commented on #241
I tried the standard upload method and I just get: "statusCode": 400.
Please see above the commented out code

[code]

[2018-03-13 19:08] mattwiller commented on #241
Can you share more detail about the error you're seeing with standard upload?  There are multiple reasons why you might get a 400 error; without knowing more I can't really troubleshoot this issue.

[2018-03-13 19:31] barakbd commented on #241
Sure. BTW, when I use "preflightUploadFile" I get success:
[code]

Here is the full error:

[code]

[2018-03-13 19:35] barakbd commented on #241
Reading Multiprty's docs (https://www.npmjs.com/package/multiparty) , I can see that:

and on the box -node-sdk docs:

I just wonder if the issue could be that I am not creating a continuous stream from all the incoming "parts" read by "multiparty.Form"

[2018-03-13 20:46] mattwiller commented on #241
@barakbd Internally, the `request` library that we use (actually its `form-data` dependency) [requires that any streams it uses have information about how large the file is](https://github.com/form-data/form-data/blob/master/lib/form_data.js#L114) (in order to set the Content-Length header on the request).  This is true for streams from `fs.createReadStream()`, for example, but I'm not sure if `mu

[2018-03-13 21:29] barakbd commented on #241
That's what I thought.
Where can I set content-length so the request knows there is more data coming?

[2018-03-13 22:10] barakbd commented on #241
I think this is related to this issue: https://github.com/box/box-node-sdk/issues/143

[2018-03-13 22:49] barakbd commented on #241
Solved. Using Multer. Will post code sample soon.

[2018-03-14 00:03] barakbd commented on #241
Is it possible to create shared link when uploading a file, maybe by passing an option?
Does it have to be done as a separate API call to "update"?

[2018-03-14 21:11] barakbd commented on #241
Also, is it possible to set unsharedAt to null, so the shared_link never expires?

[2018-03-15 01:53] mattwiller commented on #241
@barakbd It is not possible to create a shared link on upload — you'll need to make an `update()` call to add it.  Also, it is not currently possible to control the shared link expiration value via the API.

[2018-03-16 20:31] kalew8 opened #245 "Can't see pending collaboration object information"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
I'm trying to get back collaboration information for a specific collaboration object, but the "accessible_by" object comes back null because the collaboration object is still "pending". I would like a way to see the email associated with the collaborati

[2018-03-16 20:44] mattwiller commented on #245
@kalew8 Unfortunately, the API does not support viewing the information for a pending collaborator.  This is a known feature gap between the API and the webapp, and boils down to security concerns with showing you the information of a user who has not accepted the invite to collaborate with you.  I'll file a ticket with the team who owns that API endpoint, but for now there isn't a way to get that

[2018-03-16 20:44] #245 closed

[2018-03-16 20:45] kalew8 commented on #245
@mattwiller Gotcha. Thank you for the quick response.

[2018-03-19 11:10] sagardew opened #248 "Fetching Tags , Description , Versions of a File"
Hi @mattwiller ,

1. Is there any way we can upload and fetch Tags on a file,
2. Posting Description of a file, i am able to fetch description but can not upload any.
3. Fetching Version of a File?

Also , when i upload a file through SDK the png file type over in box is shown as "File type", is there anything i am missing on? . I am taking file path and passing it through a stream

[2018-03-19 17:49] mattwiller commented on #248
1. Tags are a [field on the file object](https://developer.box.com/v2.0/reference/#file-object) that is not returned by default.  You can request this field specifically by adding the `fields` option to your [`files.get()`](https://github.com/box/box-node-sdk/blob/master/docs/files.md#get-a-files-information) call to get the file information:
[code]
2. You can add a description to a file with the

[2018-03-20 00:42] mattwiller commented on #157
Would you mind opening a new issue for what you're seeing so that we can
track it?  For some reason your comment doesn't show up on GitHub and I
don't want this to get lost in my inbox.

On Mon, Mar 19, 2018 at 8:55 AM, Joe Pietroni <notifications@github.com>
wrote:

--
Matt Willer
Staff Software Engineer
Pronouns: he/him
900 Jefferson Avenue
Redwood City, CA 94063

[image: box] <http://www.box.co

[2018-03-20 07:22] joep1978 commented on #157
Sorry to disturb - actually this was developer error on my side and can be
deleted

On Tue, Mar 20, 2018 at 12:42 AM, Matt Willer <notifications@github.com>
wrote:

[2018-03-21 10:04] sagardew commented on #248
Hi @mattwiller ,

Thanks for quick response. Can i update the tags to a file the same way as of description?
And for point 3 :- i only need the file's current version number . example :-
A.png v6   , how can i get the v6

[2018-03-21 20:33] mattwiller commented on #248
@sagardew  Yes, you can update tags the same way as description.  The version number is something you'll need to compute yourself from the API response — in general, the current version number of the file is the number of previous versions plus one.  So, you should be able to do something like this:

[code]

[2018-03-21 23:08] ORESoftware opened #250 "Upload binary file directly to Box"
I have this Angular handler, which can upload an image to Artificatory/JFrog:

[code]

this request gets sent to our server, which forwards the request to JFrog / Artifactory:

[code]

my question is - is there a way to upload a file directly to box without using form-data? It would be nice to stream all the way to box, instead of buffering it on one of our servers. If we can send it directly from

[2018-03-22 00:21] mattwiller commented on #250
@ORESoftware I'm not quite sure what you're asking here — could you elaborate a bit about what you're trying to do?  The SDK supports [uploading files from a Stream](https://github.com/box/box-node-sdk/blob/master/docs/files.md#upload-a-file), which does use `form-data` under the hood since this type of upload requires a multi-part form in the API.  If the files you're uploading are 20MB or larger

[2018-03-22 01:54] ORESoftware commented on #250
@mattwiller thanks for responding - we are actually trying to upload just one file and we want to avoid form-data / multi-part data.

As you can see in the code above, the data is just included in the request body and is not in the form of attachments/parts.

So what it would look like from the Box point of view: Box would have an endpoint that expects binary data, but not form-data, if that makes

[2018-03-22 01:58] mattwiller commented on #250
@ORESoftware Can you explain a bit more why you don't want the Box API to use a multipart form body for upload?  If you're using the SDK, you should be able to pass a stream with just the plain binary content to the `uploadFile()` method and the SDK will construct the multipart form for you — you shouldn't need to worry about it.  Your own application should not need to accept a multipart form in

[2018-03-22 01:59] ORESoftware commented on #250
I just added a line above, I think the automatic uploader will work for us:
https://github.com/box/box-node-sdk/blob/master/docs/files.md#automatic-uploader

does that really use multipart data under the hood? It shouldn't have to.

[2018-03-22 02:02] mattwiller commented on #250
The Chunked Upload functionality does not use multipart data under the hood, but note that it is only available for files larger than 20 MB.  In either case, though, your choice of upload method to Box should not require any change in your application.  Both methods accept a stream of just the binary content of the file you're trying to upload.  The multipart form stuff is just an implementation o

[2018-03-22 02:06] ORESoftware commented on #250
@mattwiller honestly asking for a coworker who was struggling to get it to work, but I don't have a complete handle on the problems he is facing - he's somewhat of nodejs newb so

[2018-03-22 02:08] mattwiller commented on #250
No problem — let me know what you see!  If there's anything we can do to help, please let us know.

[2018-03-22 02:09] ORESoftware commented on #250
One question I have tho now that I think about it - why the 20mb threshold? Seems arbitrary? We may wan to use that functionality even with a file that's 1mb, or 5mb..

[2018-03-22 02:22] mattwiller commented on #250
That's a limitation set by the API, which I believe is because it just doesn't make sense to use Chunked Upload on files that small.  The Chunked Upload functionality is intended to improve the reliability of large file uploads by allowing you to upload parts of the file independently, so that if one part fails you don't have to retry the whole upload.  The size of each chunk is determined by the

[2018-03-22 05:12] sagardew commented on #248
Thanks @mattwiller  !

[2018-03-22 05:12] #248 closed

[2018-03-22 18:39] davecarlile opened #252 "validateWebhookMessage - TypeError: Data must be string or buffer"
### Description of the Issue
The crypto module was throwing a type error

### Versions Used
Node SDK: 1.14.1
Node.js: // 8.10.0

### Steps to Reproduce
I made the following call to the box sdk, verifying that all values were non null and correct:

var isValid = BoxSDK.validateWebhookMessage(body, headers, primarySignatureKey, secondarySignatureKey);

The body and headers values were taken directly

[2018-03-30 03:10] #241 closed

[2018-03-30 21:10] barakbd commented on #241
As Promised here is an example of my code. Using Typegoose and Multer.
As a next step improvement I would like to simply pipe the request to the Box aPI (not using the SDK). Multer slows the upload, since it buffers the whole file into memory before the file is ready to use. There is an option to create a StorageEngine in Multer, however, it is simpler to just use native NodeJS pipe() and http.req

[2018-03-30 21:14] mattwiller commented on #241
@barakbd Thanks for posting your sample code!

[2018-04-03 19:57] #250 closed

[2018-04-04 20:31] barakbd opened #257 "Limit search to anscetor_folder_id and not subfolders"
- [X ] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
How can I search only within folder_id 0 and not subfolders?

### Versions Used
Node SDK: 1.2.1
Node.js: v9.4.0

### Steps to Reproduce
[code]

### Error Message, Including Stack Trace
returns results in folder_id 0 as well as subfolders
Can I tag any

[2018-04-05 01:53] mattwiller commented on #257
@barakbd Unfortunately, there is no way to do that today with the Search API.  If you want to get a single item by name from the root folder, you would need to do one of the following:

1. Use the Search API like you're doing today and loop through the results to find the one you want
2. Just get the list of items in the root folder and loop through them to find the one you want
3. Wait for the Ge

[2018-04-05 01:53] #257 closed

[2018-04-10 18:13] barakbd opened #259 "Hoe do I save the private key as an environemnt variable?"
- [X ] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
I save the private key as an env var, and get this issue:
### Versions Used
Node SDK: 9.4
Node.js:1.12.1

### Steps to Reproduce
save . the private key needed for the sdk as an env var ( e.g. export in .bash_profile)

### Error Message, Including Stack

[2018-04-10 18:18] mattwiller commented on #259
@barakbd OpenSSL generally expects the private key to have a specific format, like this:

[code]

The `no start line` error usually means you're missing the initial `-----BEGIN RSA PRIVATE KEY-----\n` part; could you verify that the private key you're putting in the environment variable has that first line with a newline after it?

[2018-04-11 09:04] barakbd commented on #259
Here is the format of the private key I have (Fake):
By the way, when I use dotenv (npm) it works fine. When I save it to .bash_profile, it throws this error.

-----BEGIN ENCRYPTED PRIVATE KEY-----\nMIIFDjBABgkqhkiG9w0BBQ0wMzAbBgkqhkiG9w0BBQwwDgQIdLjTHaNDdX8CAggA\nMBQGCCqGSIb3DQMHBAgCFlgAMi2AwgSCBMjo90O2IQkEHyoDyMKjT+yg5PuoZ3KT\nXm8sDbC/c2/YjRF99KZ3JdnqGL+SMPUp04IRSJkKp1gspWoyGC5ZmvKEHIh1pJ27\nH/p

[2018-04-12 17:49] mattwiller commented on #259
@barakbd If it works when you use dotenv, but not when you put it in .bash_profile, it's probably an issue with the way you're putting it into .bash_profile — if you do something like `console.log(process.env)` for both options, can you see any difference with how the environment variable value looks?

[2018-04-12 18:45] barakbd commented on #259
Found the answer - https://stackoverflow.com/questions/30400341/environment-variables-containing-newlines-in-node.

Simple solution:

% node

hey
man
dude
what

Please close.

[2018-04-12 19:07] #259 closed

[2018-04-23 03:32] RohanKurane opened #261 "Questions about Chunk Upload API"
Hello,
I have a few questions regarding the new BOX Chunk Upload API. I am using C++ so I am not sure where to ask this question. Hopefully someone can move it to the right place.

1. For the UPLOAD PART what is the body of the request ? I noticed in the shell and cURL examples that --data-binary @part-name is specified at the end. Is this the file content of the part been uploaded ? So would my r

[2018-04-23 17:40] mattwiller commented on #261
@RohanKurane This repo is for our Node.js SDK; we're not really experts in C++ and aren't equipped to answer your questions here.  You should try posting over at the [Box Developer Forum](https://community.box.com/t5/Box-Developer-Forum/bd-p/DeveloperForum) — someone there might have more expertise in what you're trying to do.

[2018-04-23 17:40] #261 closed

[2018-04-26 14:13] greenkeeper[bot] opened #264 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-04-26 16:01] holbrookab opened #265 "Add an option to getRepresentationInfo to start request"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
In the API, getting a file's representation info returns an object called `status`.  If the status's state is `none`, then Box won't create the representation until you make a GET request to the url in the `info` object.  It'd be great if, when you run

[2018-04-26 16:50] holbrookab commented on #265
It looks like you use `pollRepresentationInfo` for `getRepresentationContent` but not for `getRepresentationInfo`.  I was able to add that to `getRepresentationInfo`, although it does change the usability slightly: only one representation info object would be returned.

For reference, why I need it in the `getRepresentationInfo` call, is the info's metadata returns the number of available pages.

[2018-04-26 17:49] holbrookab commented on #265
[Here](https://github.com/holbrookab/box-node-sdk/tree/repinfo-polling), although I'm failing two tests.

Test 1:

Test 2:

Did I do something wrong with the `then`,`then`,`asCallback` lines in the [getRepresentationInfo](https://github.com/holbrookab/box-node-sdk/blob/repinfo-polling/lib/managers/files.js#L1367)?

[2018-04-26 18:10] mattwiller commented on #265
@holbrookab The idea of `getRepresentationInfo()` is that it gives you the status of the representations as they are; if you want to kick off the generation of a representation you can do it yourself by feeding the representation info URL to `client.get()`, like this:

[code]

Unfortunately, we won't be able to accept your changes as they are now — the code on your branch makes a backwards-incompa

[2018-04-26 19:42] holbrookab commented on #265
Yup, makes sense.  It's just a shame because this would be good in the API, and you already have that polling code.  To me, it also seems like it'd be a helpful function as part of the API.

What about tweaking the polling function, and exposing an explicit `pollRepresentationInfo` function, a la [this](https://github.com/holbrookab/box-node-sdk/blob/repinfo-polling2/lib/managers/files.js#L1409).

[2018-05-01 00:49] #264 closed

[2018-05-07 06:09] barakbd opened #270 "app auth developer token"
Is it possible to get a temporary developer token for an App Auth Client?
When I go to the Developer Console and generate a token, it provides a token for the user who owns the App Auth client.

[2018-05-07 08:28] Arvind6353 opened #271 "ABility to crawl the documents in BOX under a particular folder / enterprise level"
Hi Team ,

Is there a way I can crawl through the documents inside the Box folder .

Like get all the documents list inside a particular root folder .

Thanks,
Arvindan.

[2018-05-07 17:39] carycheng commented on #271
Hey @Arvind6353,

To retrieve all folder items inside a particular Box folder you can use the [`folders.getItems(folderID, options, callback)`](https://github.com/box/box-node-sdk/blob/master/docs/folders.md#get-a-folders-items) call.

You would use the ID '0' to indicate that it's the root folder you want to retrieve all items for. To dig into a particular folder you will need to save that folder

[2018-05-07 18:06] mattwiller commented on #270
@barakbd The Developer Token is for testing only — if you want to make API calls as the Service Account or App Users, you'll need to go through the [JWT auth process](https://github.com/box/box-node-sdk/blob/master/docs/authentication.md#server-auth-with-jwt)

[2018-05-08 17:12] Arvind6353 commented on #271
@carycheng,
So its like making recursive calls  of **folders.getItems(folderID, options, callback)** on the each of the folders present inside the root folder . Am I right ?.

Do you have any sample code for the above scenario ?

Thanks,
Arvind

[2018-05-08 20:35] mattwiller commented on #271
@Arvind6353 That sounds correct to me.  Unfortunately, we don't have a code sample for this — it should be relatively straightforward though.  You may want to use the [iterators](https://github.com/box/box-node-sdk#iterators) functionality provided by the SDK to make this easier!

[2018-05-08 23:02] Arvind6353 commented on #271
@mattwiller, OK thank you for the info.

[2018-05-09 05:02] Arvind6353 commented on #271
Hi I tried using the iterators  .
PFB the settings :

**"boxAppSettings": {
      "clientID": "xxxxxx",
      "clientSecret": "xxxxx",
      **"iterators": true,**
      "appAuth": {
        "publicKeyID": "xxxx",
        "privateKey": "xxxxx",
        "passphrase": "xxxxx"
      }
    },
    "enterpriseID": "xxxxx",
    "webhooks": {
      "secondaryKey": "xxxxx"
    }
  }**
The above config is p

[2018-05-09 21:58] mattwiller commented on #271
@Arvind6353 The `getPreconfiguredInstance()` method is only designed to take the options from the JSON blob — it won't read any properties you add by hand.  Instead, you'll need to do something like this:

[code]

[2018-05-10 09:16] Arvind6353 commented on #271
@mattwiller  : Thank you . It works :)

[2018-05-10 22:46] mattwiller commented on #271
@Arvind6353 Great — I'm glad it's working for you now!

[2018-05-10 22:46] #271 closed

[2018-05-14 03:42] Arvind6353 commented on #271
@mattwiller : Thanks . Have a query .
Am trying to build a search dashboard to display the box contents metadata.
I did fetch all the box folder items and I was able to extract info from them .

I am putting those details in a search server and using it for the search .

The problem I see is that , box search api searches inside the contents of the files and I am not able to do that .

Is there a

[2018-05-14 18:47] mattwiller commented on #271
@Arvind6353 You can get the file's contents by [downloading the file](https://github.com/box/box-node-sdk/blob/master/docs/files.md#download-a-file)

[2018-05-16 10:27] cbetta opened #276 "Add an option to create a basic client without initializing a dummy"
Currently, to initialize a BasicClient with an access token, you have to first initiallize a dummy SDK instance.

[code]

This feels really redundant and ugly. Is there a chance we can simplify this by adding a "static" method to the BoxSDK class?

[code]

Under the hood, this could obviously do the same as the first code sample, but it would make all client code a lot cleaner and simpler.

[2018-05-17 05:39] Arvind6353 commented on #271
@mattwiller . Is there a way I can find the documents that are modified / created on a daily basis ?.

I see that the search query has an option to specify updated_range / created_range but it requires search string as mandatory field .

[2018-05-18 00:51] carycheng commented on #271
Hey @Arvind6353,

Wanted to follow up with your use case of retrieving modified files. We generally discourage the use of the /search endpoint for scenarios such as this. In this case we encourage our users to use the [Events endpoint](https://github.com/box/box-node-sdk/blob/master/docs/events.md#listening-to-the-enterprise-event-stream).

You can use the Get Enterprise Events Stream like the sni

[2018-05-18 01:18] Arvind6353 commented on #271
@carycheng. Thanks for the information. Let me try the events endpoint and get back in case of any issues. Thanks once again for ur time.

[2018-05-21 13:52] Arvind6353 commented on #271
@carycheng @mattwiller
Is there a way to subscribe to events only on a particular root folder .
 The getEnterpriseEventStream method returns events from folders that the service account is not collaborating with but from the whole enterprise .

When I do say getFolderItems , the results are from only those specific folders to which the service account has been added as a collaborator.

[2018-05-24 00:59] #270 closed

[2018-05-24 01:02] mattwiller commented on #271
@Arvind6353 You could try listening to the [user events stream](https://github.com/box/box-node-sdk/blob/master/docs/events.md#user-events) for just the events pertaining to the service account and the folders it's collaborated on.

[2018-05-24 01:14] mattwiller commented on #276
Closing since #278 is merged 🎉 — this will go out with the next release, tentatively scheduled for tomorrow

[2018-05-24 01:14] #276 closed

[2018-05-24 17:17] Arvind6353 commented on #271
@mattwiller :  In client.events.getEventStream(function(err, stream) {
});

Am not able to find a way where I can specify the folders to get the events from ?
 Is there any option for it ?

I need to only get the events from the folder(its children) for whom I have the folderId and the service account is added as an collaborator.

[2018-05-24 18:21] carycheng commented on #271
Hey @Arvind6353,

Unfortunately there is no way to do that directly via the Box API today. You will have to manually read the event stream and filter out relevant folder modifications.

[2018-06-14 19:57] #265 closed

[2018-06-14 20:27] mattwiller commented on #265
Hi @holbrookab — we just added the `generateRepresentations` option to `getRepresentationInfo()` in v1.19.0 of the SDK.  Please give it a try and let us know how it works for you!

[2018-06-21 17:36] rikrok opened #288 "JWT Cannot read property 'split' of undefined"
Hey all, thanks for taking a time to check this out. I'm not entirely sure where I'm going wrong, but I'm really confused as to what I'm doing incorrectly.

- [X] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
I'm having a slight issue with authenticating with a JWT JSON file or passing it as a hard coded

[2018-06-22 12:08] rikrok commented on #288
Thanks for the quick reply @mattwiller!

Versions Used
Node SDK: 1.19.0
Node.js: 6.1.0

I am using **vuejs webpack** though.  The browser I'm running is Chrome Version 67.0.3396.87 (Official Build) (64-bit) with **Windows 10** .

Manually setting the configuration options in the SDK results in the same behavior :(

[2018-06-22 23:40] mattwiller commented on #288
@rikrok Unfortunately, the Node.js SDK does not currently support running in a browser via Webpack.  When Webpack bundles the SDK, it needs to polyfill various Node.js modules that the SDK depends on, in this case especially `crypto`.  We can't make any guarantees about how [the polyfill](https://github.com/crypto-browserify/crypto-browserify) behaves, and it looks like that's where the issue you'

[2018-06-29 14:12] rikrok commented on #288
Apologies for the late reply! Thanks for your explanation of what was happening!

[2018-07-09 09:29] MathersMax opened #292 "Missing values in Webhooks.prototype.triggerTypes"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
It seems that some trigger types are missing from your enum

### Versions Used
Node SDK: 1.19.0
Node.js: Not relevant

### Error Message, Including Stack Trace
The following values seems to be missing from the `Webhooks.prototype.triggerTypes` enum in `

[2018-07-09 18:21] carycheng commented on #292
Hey @MathersMax,

Thank you for writing in! If it's not too much trouble we always welcome pull requests!

Otherwise, we are more than happy to patch this as well

Much appreciated!

[2018-07-09 21:04] MathersMax commented on #292
My pleasure. Doing this first time tomorrow morning.

[2018-07-10 22:37] #292 closed

[2018-07-10 22:37] carycheng commented on #292
reference #293

[2018-07-24 18:44] barakbd opened #297 "Display app name of service account"
- [ ] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
How do I get the app name?
I am using var serviceAccountClient = sdk.getAppAuthClient('enterprise', 'APP_ENTERPRISE_ID');
Then serviceAccountClient.users.get("me", null)

But this returns the user who owns the service account, not the service account it

[2018-07-25 00:38] carycheng commented on #297
Hey @barakbd,

Unfortunately that is not possible, may I ask why you wish to retrieve the app name for the service count? Maybe there is another approach we can help with

Thanks!

[2018-07-31 10:20] neocolmartin opened #299 "Error "Cannot read property 'headers' of undefined at cleanSensitiveHeaders""
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
From time to time we're seeing the error "Cannot read property 'headers' of undefined at cleanSensitiveHeaders".

It looks like for some reason, the `this.request` property that is passed into `cleanSensitiveHeaders` by `APIRequest._handleResponse`, des

[2018-07-31 20:49] mattwiller commented on #299
@neocolmartin Thanks for letting us know!  Unfortunately, this may be somewhat difficult for us to reproduce, and hence to fix.  We'll try to take a look and see if we can think of any reason why this might be happening and test in our environment.

[2018-08-01 22:38] #297 closed

[2018-08-01 22:39] #288 closed

[2018-08-04 20:57] Clee681 opened #300 "files.getReadStream not returning stream.Readable"
### Description of the Issue
`files.getReadStream` does not seem to be returning a `stream.Readable` instance as mentioned in the documentation.

### Versions Used
Node SDK: `1.19.0`
Node.js: `v8.11.3`

### Steps to Reproduce
[code]

[2018-08-06 17:32] kendomen opened #301 "cascading metadata api not implemented"
I don't see the cascading metadata (https://developer.box.com/v2.0/reference#get-metadata-cascade-policies) implemented in here.  Is this true?

thanks!
Ken

[2018-08-07 00:25] boneskull opened #302 "event stream destruction"
There doesn't seem to be any way to *stop* an `EventStream` from continually long-polling once started, short of killing the Node.js process.

In Node.js v8.x or later I think you want to implement the `Readable` stream's `_destroy()` (much like you would with `_read()`) method.

For Node.js pre-v8.x, generally it looks like you're going to want to *wrap* `Readable#destroy()`.  So a solution might

[2018-08-07 17:08] mattwiller commented on #301
@kendomen We have a PR open to add this API — #269 — but hadn't merged it yet because the API was not yet considered stable (it's still in beta).  We just got word that the API should now be stable, and will be targeting Thursday for releasing support for the new endpoints!

[2018-08-07 17:46] mattwiller commented on #302
@boneskull Sounds good to me — I look forward to reviewing your implementation!

[2018-08-09 14:28] kachkaev commented on #170
Hey @mattwiller and other Box members 😉

What are your current views on switching to TS in future? Just curious.

[2018-08-09 17:12] mattwiller commented on #170
Hi @kachkaev — we're definitely interested in moving the SDK over to TypeScript!  There are some other major refactors/improvements we're looking into for the Node SDK in the medium term, and we would probably roll the transition to TypeScript in with those changes.

[2018-08-09 21:07] mattwiller commented on #301
@kendomen We just released v1.20.0 of the SDK, which includes support for Metadata Cascade Policies!  Please let us know if you run into any issues.

[2018-08-09 21:07] #301 closed

[2018-08-09 21:18] barakbd commented on #297
Since 1 user may have multiple apps, It would be intuitive to know which app credentials the SDK is running for. If you only show the user, it is impossible to tell which service account is running.

[2018-08-12 22:05] mattwiller commented on #301
@kendomen The API docs note that you may get a 403 error if your enterprise is not added to the beta for Metadata Cascade Policies.  Does that call work for you if you attempt in manually in a tool like Postman or curl?

[2018-08-13 17:50] mattwiller commented on #297
@barakbd This information is not exposed via the API, but since the app credentials are passed in when you instantiate the SDK you should be able to know which ones are in use at any given time.

[2018-08-14 20:07] mattwiller commented on #299
@neocolmartin We've been unable to find any promising leads on this issue so far — would you mind providing us a bit more information to help us debug?  If you could, please email me at the address in my GitHub profile and provide your client ID/API key (__NOT__ your client secret), and the exact date/time when you saw this problem happen.  We'll take a look in our server logs and try to find out

[2018-08-22 10:28] kachkaev opened #307 "Thrown messages for some API errors may need improvement"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue

I was getting `Unexpected API Response [400 Bad Request]` in my enterprise app and could not figure out whether it was a problem with a JSON config, the server or something else. Here is my code:

[code]

Here's the look of the error stack:

[code]

On

[2018-08-23 10:51] kachkaev commented on #307
I guess a PR requires some knowledge about what possible shapes `error.response.body` may take. E.g. in `lib/util/errors.js` there is a mentioning of `response.body.message`, now there is at least `response.body.error`/`response.body.error_description` and there might be something else.

Given that, it might be probably better if someone from Box made a PR as you folks know API servers much better

[2018-08-23 12:37] trantor-saurabh-barthwal commented on #12
I am also getting the same issue. Help me for the same.

[2018-08-23 22:02] mattwiller commented on #12
@trantor-saurabh-barthwal As noted above, you should be able to modify the sample app code to get more information about the error — I recommend logging `err.response.body` to see if there's more information from the API about what's going on.  One common problem is that your app may not be authorized by your enterprise administrator.  If you haven't already, you may need to contact your enterpris

[2018-08-28 18:42] #307 closed

[2018-09-13 21:30] mattwiller commented on #302
@boneskull The functionality you added was just release in v1.12.0 of the SDK — thanks again for the PR!

[2018-09-13 21:30] #302 closed

[2018-09-13 21:30] #300 closed

[2018-09-19 19:13] denseflux opened #316 "Unable to handle events from Readable Stream client.files.getReadStream()"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue

I'm trying to do a partial download of a file.

Having read the documentation for downloading files I was expecting getReadStream to return the first 2048 bytes from the file as a readable stream, but I get an error with the event. My code is:

[code]

[2018-09-19 19:17] mattwiller commented on #316
@denseflux The [getReadStream() docs](http://opensource.box.com/box-node-sdk/jsdoc/Files.html#getReadStream) indicate that the method returns a `Promise` resolving to the Readable and not the `Readable` itself.  You'll need to do something like this:

[code]

[2018-09-19 19:17] #316 closed

[2018-10-19 17:48] dthulin opened #319 "400 error response on batch uploads"
- [ ] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
I'm running into a wall while trying to batch upload files with the node.js SDK. I can upload just fine when the code to upload is not wrapped in a batch request call, but as soon as I wrap it in a batch call I only get 400 responses from uploads. Docum

[2018-10-19 17:51] mattwiller commented on #319
@dthulin Uploads are not supported in the Batch API, which is why the API is giving you an error.

[2018-10-19 17:51] #319 closed

[2018-10-19 18:11] dthulin commented on #319
@mattwiller Could you please add that to the batch documentation? Thanks!

[2018-10-19 18:14] dthulin commented on #319
@mattwiller Also, what about downloads?

[2018-10-19 21:51] mattwiller commented on #319
@dthulin Downloads are not supported via Batch API either; I've updated the documentation to reflect this.  Out of curiosity, what's your use case for wanting to batch those types of calls?

[2018-10-24 17:14] dthulin commented on #319
@mattwiller Thanks so much, you might want to also add the 20 calls per batch limit too, IMHO. Also, though I think I can get and patch metadata in a batch, unless I'm mistaken adding metadata is not accessible via batch either. I'm sure there are more. I think I understand why they aren't batch-able, and I have no argument with why these calls aren't batch-able. (With the possible exception of ad

[2018-10-24 23:28] mattwiller commented on #319
@dthulin The metadata calls should all be batchable, but you may need to manually add the `Content-Type: application/json` header for those calls.  Some of those endpoints are very strict about that header, and headers are **not** inherited by each batch call, so from the API's point of view they don't have the header unless you specifically add it.  I'll make a note to ensure this works in the SD

[2018-10-25 16:28] dcods22 opened #320 "Cannot Search By Tags with Spaces"
- [X] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
// Replace this text with a description of what problem you're having.
// Please include as much detail as possible to help us troubleshoot!
// If it isn't obvious, please include how the behavior you expect differs from what actually happened.
// This

[2018-10-25 16:48] dthulin commented on #319
@mattwiller a few questions...
1. So, how do I add `Content-Type: application/json` to the header when I'm using your node SDK methods like this?
[code]
2. Are those 3 gets indeed the only calls that can be batched while only counting as 1 call?
3. Why is the batch documentation so limited? At first I thought the lack of documentation on batch calls was mildly irritating. Now I find it infuriating

[2018-10-25 18:56] mattwiller commented on #320
@dcods22 I was able to get this working by using a quoted search query to ask the Search API for an exact match across both words of the tag:

[code]

Can you give that a try and let me know if it works for you?

[2018-10-25 23:09] mattwiller commented on #319
@dthulin To answer your initial questions:

1. There isn't a way to set the header yourself when using the `addMetadata()` method — we'll have to patch the SDK.  In the meantime, you could always manually construct the call with the correct header using `client.post()`.
2. Yes, those are the only ones.  Batch API is __not__ intended to avoid rate limits; those rate limits are there to protect our

[2018-11-06 21:15] #299 closed

[2018-11-19 19:54] grugknuckle opened #325 "Get metadata output does not match documentation."
- [x ] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue.

### Description of the Issue
The output from the `client.files.getAllMetadata(fileID)` method is not returning the data as it is [described in the documentation](https://github.com/box/box-node-sdk/blob/master/docs/metadata.md#get-metadata-on-a-file). I'm not sure if this is an i

[2018-11-20 00:34] carycheng commented on #325
Hey @grugknuckle,

Is this the only call you are seeing this behavior of requests mixed in with the output?

I just attempted the `getAllMetadata()` call with `asUser()` and it seems to be outputting okay with this

[code]

The output format was similar to the expected from the docs with information redacted.
[code]

Would love to know if this is across all calls you are making with the SDK?

[2018-11-20 00:35] carycheng commented on #325
Apologies, clicked the wrong submit button.

@grugknuckle, please let us know from the above!

[2018-11-20 02:08] mattwiller commented on #325
@grugknuckle It looks like you've configured the SDK with `iterators: true` — this causes it to return an iterator over the collection rather than the raw JSON, as documented.  If you want it to return the raw JSON, simply remove that value from the SDK configuration.

[2018-11-20 18:11] #325 closed

[2018-12-03 23:58] winfeel commented on #271
Hey, it seems I cannot get file extraction working when assigning limit to None. When it is set at a fixed number, it works. Anyone able to enlighten me on that?

[2018-12-11 19:47] jgoldhammer commented on #170
Hi @mattwiller. Any progress here or ETA? Thanks, Jens

[2018-12-11 22:54] mattwiller commented on #170
@jgoldhammer There's no update as of now, but this continues to be something we would like to support (we just haven't found the time to work on it yet!)

[2018-12-17 14:49] C271030 opened #331 "Is any feature in box-node-sdk for merge two document for edit document?"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
// Replace this text with a description of what problem you're having.
// Please include as much detail as possible to help us troubleshoot!
// If it isn't obvious, please include how the behavior you expect differs from what actually happened.
// This

[2018-12-17 17:43] jasonpan12 commented on #331
Hey @C271030, that's not available in the base API unfortunately. You can certainly upload a document as a new version of another, but there's no feature for merging the content of a file with another file.

[2019-01-07 21:38] mattwiller commented on #170
@tharun208 Ideally we would want to provide proper typings, especially to help out with the data that gets returned by the API calls.  At the very least, this is something we're strongly looking at for the next major version of the SDK.

[2019-01-08 05:44] tharun208 commented on #170
Thanks @mattwiller , will look into it

[2019-01-10 18:54] mattwiller commented on #170
@tharun208 I think for now putting it in @types/box-node-sdk would be the best option

[2019-01-11 19:20] #331 closed

[2019-02-06 18:19] dcods22 commented on #213
@mattwiller I was wondering if the 429 backoff was ever implemented into the SDK? We consistently run into this issue and are running the latest version of the SDK.  I was not sure if there was something we needed to configure or do differently

[2019-02-06 20:29] mattwiller commented on #213
@dcods22 Yes, all versions of the Node SDK from v1.13.0 onwards use exponential backoff for retries, up to the configured maximum number of retries (default 5).  If you're still running into rate limit issues, you can try to increase the base retry time or increase the maximum number of retries.  Both of these values can be configured like this:

[code]

In the latest version of the SDK, you can a

[2019-02-13 18:10] dcods22 opened #344 "Finding a file by filename"
- [X] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
// Replace this text with a description of what problem you're having.
// Please include as much detail as possible to help us troubleshoot!
// If it isn't obvious, please include how the behavior you expect differs from what actually happened.
// This

[2019-02-13 20:21] mattwiller commented on #344
@dcods22 The best way to do this today would be to use the [Search API](https://developer.box.com/v2.0/reference/#searching-for-content) to try and find an exact match; please take a look over our [documentation for how to call the Search API through the SDK](https://github.com/box/box-node-sdk/blob/master/docs/search.md).  Something like this should do what you want:

[code]

[2019-02-13 20:59] dcods22 commented on #344
Awesome thanks so much that worked.

[2019-02-13 20:59] #344 closed

[2019-02-21 19:16] dcods22 opened #351 "Javascript Error"
- [X] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
// Replace this text with a description of what problem you're having.
// Please include as much detail as possible to help us troubleshoot!
// If it isn't obvious, please include how the behavior you expect differs from what actually happened.
// This

[2019-02-22 00:50] mattwiller commented on #351
@dcods22 Thanks for letting us know!  I have a PR open to add a basic safety check in the code where this error is occurring (#353), which should unblock you for now.  I'm unsure what would cause this error, since it requires a request object with an undefined `uri` — we'll need to investigate a more thorough fix later.

[2019-02-22 16:05] dcods22 commented on #351
@mattwiller Thank you I saw the PR.  Do you know when that will be merged and the version will be released to NPM? This isn't super critical to our application but would be extremely helpful since we are sort of blocked for one specific flow based on this.  We (Major League Baseball) do have a Box Enterprise account

[2019-02-22 23:15] #351 closed

[2019-02-22 23:34] mattwiller commented on #351
@dcods22 I just pushed out v1.26.2 of the SDK, which includes the fix for your issue.  Please try it out and let us know if you run into any further issues!

[2019-02-25 15:53] dcods22 opened #357 "Javascript Error in Errors.js"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
// Replace this text with a description of what problem you're having.
// Please include as much detail as possible to help us troubleshoot!
// If it isn't obvious, please include how the behavior you expect differs from what actually happened.
// This

[2019-02-25 15:53] dcods22 commented on #357
@mattwiller This is a follow up of #351

[2019-02-25 22:06] mattwiller commented on #357
@dcods22 I put up a small PR to fix the immediate issue over at #359, but I'm a bit worried that we don't understand what the root cause is.  It seems like the SDK is in the "response error" flow when it has very little information about the request/response — I'm not sure why that would be happening.  I added another small change to split out potential error scenarios deeper in the SDK; maybe tha

[2019-02-26 21:57] #357 closed

[2019-02-27 14:28] dcods22 commented on #357
@mattwiller I will try to get to the bottom of it it seems to be very weird.  We do an operation that makes ~5 API calls per operation.  We do that operation for reporting that goes over ~55,000 files using service workers.  Once we get to around ~35-40,000 files this error randomly appears and I would only get that error stack trace so it was extremely hard to debug what was going on. Do you know

[2019-02-27 21:48] mattwiller commented on #357
@dcods22 We have a release scheduled for tomorrow, I'll let you know when it goes out!

[2019-02-28 21:18] mattwiller commented on #357
@dcods22 We just released v1.27.0 of the SDK, which includes the fix for this issue.  Please give it a try and let us know how it works!

[2019-07-02 03:40] yihchu opened #394 "TypeError: Cannot read property 'keyID' of undefined"
- [ ] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
I want to create a folder, and it give me the error

### Versions Used
Node SDK: 1.29.0
Node.js: 10.13.0

### Steps to Reproduce

I created an application, and set OAuth2 with JWT, then download the json. And the code is:
const boxSDK = require('box-nod

[2019-07-02 17:03] mattwiller commented on #394
@yihchu Your code __should__ work; this looks like it might be an issue with the configuration file you're using.  Could you verify that `configJSON` in your code is an object that looks roughly like this?
[code]

[2019-07-11 14:05] nikhilmk0704 opened #397 "Issue with Multiple File Upload with sdk"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
I have built application in Angular 2(version 7.2.0) as front end and Node JS as back end for uploading files to Box. It is a multi file upload with drag and drop feature, but when i try to upload more than 10 files at a time it uploads 10 files and the

[2019-07-11 21:19] carycheng commented on #397
Hey @nikhilmk0704,

It seems you are indeed running into the call limit. One way you can circumvent this issue is with the use of multiple [application users](https://developer.box.com/reference#create-app-user) to make the upload calls. This will spread out the number of calls coming from one source and can help solve your call limit issues.

You will need to:

1. Create App Users to use in the u

[2019-07-11 22:45] nikhilmk0704 commented on #397
Hey carycheng,
Thank you so much for the workaround. In the 3rd Step when i am making the created user as as-user header then trying to do upload it gives a 403 forbidden error in the api response

[2019-07-12 20:06] carycheng commented on #397
@nikhilmk0704, the 403 Forbidden error you are seeing can be many things unfortunately - Incorrect scopes on token, app not authorized correctly, app failing certain permission checks.

To help us better diagnose - can you please send over your API response, API Key(which is the client ID), as well as your request ID(in the API response) to ccheng@box.com(as the information is sensitive and should

[2019-07-16 08:14] #394 closed

[2019-07-16 08:15] yihchu commented on #394
3Q~,  I forgot to generate private key.

[2019-07-17 20:25] carycheng commented on #397
Hey Nikhil,

It looks like you have the correct scopes. Could you try reauthorizing your application in your admin console? It seems like you may have increased the scope of you app sometime after you initial app authorization. In order for the updated scopes to take effect you will need to reauthorize your application as well.

This article may be helpful: https://community.box.com/t5/How-to-Guid

[2019-07-18 00:39] vikasraj789 commented on #259
@mattwiller I have used the private key provided by box. Still, i get Error: error:0906D06C:PEM routines:PEM_read_bio:no start line.
private key (Fake) provided by box:
`"-----BEGIN ENCRYPTED PRIVATE KEY-----\nMIIFDjBABgkqhkiG9w0BBQ0wMzAbBgkqhkiG9w0BBQwwDgQILeXirnuNxkgCAggA\nMBQGCCqGSIb3DQMHBAiXf0GJDfK6oQSCBMibpfA\nR4DSt/5Z2qTWqtjFgnNHoeGR6GhjpklRJglmmaztm7AXE/nkginPaSYTNL3blNB/\nDT9AN9pPBTlBCbw3a

[2019-07-19 00:52] mattwiller commented on #259
@vikasraj789 Did you try the solution posted above regarding newlines in environment variables? https://stackoverflow.com/questions/30400341/environment-variables-containing-newlines-in-node

[2019-07-19 01:18] vikasraj789 commented on #259
@mattwiller Sorry.
I did check it previously, but i missed a slash in replace.
Thanks

[2019-07-19 02:51] mattwiller commented on #259
@vikasraj789 Ah, great — glad to hear it's working for you now!

[2019-08-09 17:09] braj1999 opened #403 "JTI claim value is not getting regenerated if any API calls fails due to rate limit"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
We are using box-node-sdk v 1.29.0 in our application. The application is designed to discover all the files inside a folder and download the files found inside it. To achieve this, we to first API call to get the list of files inside the given folder a

[2019-08-09 23:50] mattwiller commented on #403
@braj1999 It looks like maybe the API is marking the `jti` claim as seen even in scenarios where the request is rate limited and the authentication was not actually granted.  We should be able to add better retry behavior in the SDK to generate a new `jti` claim for this case, which I think should help resolve the issue you're seeing.  I'll update this ticket with a PR in the next few days once I'

[2019-08-19 09:23] braj1999 commented on #403
thanks @mattwiller Any ETA that you can share with us.

[2019-08-19 18:26] mattwiller commented on #403
@braj1999 I just opened PR #405 to address this issue; we should be able to get the fix into the next SDK release later this week

[2019-08-19 22:01] #403 closed

[2019-08-22 23:37] mattwiller commented on #403
@braj1999 We just pushed out v1.29.1 with the fix for this issue — please check it out and let us know if you have any further difficulties!

[2019-08-23 06:51] braj1999 commented on #403
thanks @mattwiller

[2019-08-29 19:14] shivaallani7 commented on #164
Hi I have the same issue. I am using the key : Value pair generated in the Developer Console. is there anything I am doing incorrectly?

[2019-08-29 20:06] shivaallani7 opened #409 "error:0906D06C:PEM routines:PEM_read_bio:no start line"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
Detailed Error:
1. I am manually giving the private key to the new BoxSDK( ) instance. I have generated the key from the Box-developer console.
2. I am able to print the sdk.CURRENT_USER_ID on the console. I assume sdk instantiated properly. but it is t

[2019-08-29 20:45] mattwiller commented on #409
@shivaallani7 Does your `privateKey` string have newline (`\n`) characters in it, especially after the `-----BEGIN ENCRYPTED PRIVATE KEY-----` part?  I believe that formatting is required for OpenSSL to be able to correctly read the key.

[2019-08-29 21:01] shivaallani17 commented on #409
No. I have parsed the Key and removed all the (\n) in the key.

[2019-08-29 22:00] mattwiller commented on #409
@shivaallani7 As I mentioned, those newlines are required for OpenSSL to parse the key; could you try adding them back and let me know if that resolves your issue?

[2019-08-29 22:04] shivaallani17 commented on #409
Please correct me If I am wrong. If there is something wrong with the key.The statements **console.log(sdk.CURRENT_USER_ID)** should not work. But this statement is working and printing **me** as the current user.

[2019-08-29 22:49] mattwiller commented on #409
@shivaallani7 `sdk.CURRENT_USER_ID` is a [static constant in the code](https://github.com/box/box-node-sdk/blob/563238d999f5cb56f6a177c0676e3611ea2ea536/lib/box-node-sdk.js#L126); its value is always the string `"me"`.  The issue you're seeing is likely due to the removal of the newline characters from the private key; could you try using the private key exactly as it was originally formatted and

[2019-08-29 23:25] shivaallani17 commented on #409
@mattwiller it is working. Thank you so much.

[2019-08-29 23:27] mattwiller commented on #409
Perfect — glad it's working now! 🎉

[2019-08-29 23:27] #409 closed

[2019-09-05 15:49] shivaallani7 opened #413 "TypeError: while creating service Account client"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
Hello All,

I am trying to create the service Account client and getting the below error.
**TypeError: `[object Object]` is not an Option Object** at some internal box sdk methods.

what do you think I am making mistake. is it some thing wrong with box-

[2019-09-05 22:37] shivaallani7 commented on #413
Can some one answer the above question please .

Thank you.

[2019-09-06 00:22] PJSimon commented on #413
Hi @shivaallani7,

I'll be taking a look at this issue for you.  I'll need some time to investigate.  I will get back to you within 24 hours an update.

Thanks!

[2019-09-06 00:30] mattwiller commented on #413
@shivaallani7 I'm unable to reproduce your issue with the latest version (v1.29.1) of the SDK; I ran the following code and it worked fine on my machine:

[code]

Could you maybe try deleting your `node_modules` directory and re-installing your dependencies?

[2019-09-06 17:33] shivaallani7 commented on #413
Hi @mattwiller . we are currently using Neptune App development software with node js as the backend. we contacted Neptune Support.They informed us that their current version  some how could not accommodate Box-SDK.
This was their response below:
**Sorry, but this module will not work in version 1.0.24, you have to be on > v2. The reason for this is that in version 1 server scripts are executed in

[2019-09-07 21:15] mattwiller commented on #413
@shivaallani7 I would recommend updating to Neptune v2 if that's possible for you.
 I'm not familiar with Neptune at all, so I'm not aware of any workarounds for using the SDK in that environment.

[2019-09-17 14:53] shivaallani17 opened #418 "Error: Auth Error: Please check the 'sub' claim. The 'sub' specified is invalid. [400 Bad Request] invalid_grant - Please check the 'sub' claim. The 'sub' specified is invalid."
- [ ] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
Hi All,
I am trying to create the collaboration with User Id but it is giving me the below error. other methods were working fine except the collaboration. it is giving me the Auth error but the same Auth is working for other methods. Please find the er

[2019-09-17 15:22] carycheng commented on #418
Hey @shivaallani17,

Curious if you meant to do this but the first two parameters of ‘createWithUserID’ are userID and itemID, item referring to the item to collaborate on. I see that in the parameters you have passed the same identifier for bother user and item. This might be causing some issues please let us know what you see after updating those fields.

Thank you!

https://github.com/box/box-n

[2019-09-17 15:24] #418 closed

[2019-09-17 15:25] shivaallani17 commented on #418
Hey @carycheng . sorry for that. I have the same issue even after changing the parameters.

[2019-09-17 16:03] shivaallani17 commented on #418
Hey @carycheng . I found the issue is in the service Account creation. Now I am getting the **Error : 404**
find the error stack below:
**    at Promise._settlePromise (e:\Box-app\node_modules\bluebird\js\release\promise.js:574:18)
    at Promise._settlePromise0 (e:\Box-app\node_modules\bluebird\js\release\promise.js:619:10)
    at Promise._settlePromises (e:\Box-app\node_modules\bluebird\js\relea

[2019-09-17 16:53] carycheng commented on #418
@shivaallani17, this 404 most likely means your Service Account does not have permission on the folder you are trying to collaborate the user on. A Service Account does not have access to all files and folders in an enterprise by default, you will still have to invite the Service Account user into that folder you are trying to collaborate a user to.

More on Service Account [here](https://develope

[2019-10-30 12:43] matesio opened #447 "issue: Downloading file, enterprise application (OAUTH with JWT)"
I am trying to download files by specific id from the box. Curl command works fine but when I try to do it with Nodejs it shows file now found. I am following official box [documentation](https://developer.box.com/en/reference/get-files-id-content/#request-example).

`var fs = require('fs');
client.files.getReadStream('12345', null, function(error, stream) {

	if (error) {
	    console.log('Error

[2019-10-30 14:02] matesio commented on #447
If the access token is the developer token then I am not using any access token, I am trying it with AWS lambda with JSON in environment variables.

`const boxConfig = JSON.parse(process.env.BOX_CONFIG);
const sdk = BoxSDK.getPreconfiguredInstance(boxConfig)
const client = sdk.getAppAuthClient('enterprise', boxConfig.enterpriseId);`

[2019-10-30 14:04] matesio commented on #447
**BOX_CONFIG:**

{
  "boxAppSettings": {
    "clientID": "CL_ID",
    "clientSecret": "C_SECRET",
    "appAuth": {
      "publicKeyID": "PKID",
      "privateKey": "PR_KEY",
      "passphrase": "PASS"
    }
  },
  "enterpriseID": "50790278",
  "webhooks": {
    "primaryKey": "P_KEY",
    "secondaryKey": "S_KEY"
  }
}

[2019-10-31 07:19] matesio commented on #447
It seems about a custom app, but I am trying with Entreprise application.
If both work in a similar fashion? Is there any way to access other user's data from service account.

[2019-10-31 10:04] cbetta commented on #447
@matesio An Enterprise Integration using JWT is pretty much the same as a Custom App using JWT.

And yes, you can either use the As-User header, https://developer.box.com/en/guides/authentication/jwt/as-user/ or use an User Access Token https://developer.box.com/en/guides/authentication/jwt/user-access-tokens/

[2019-10-31 11:30] matesio commented on #447
@cbetta Thanks for all the help but the guide is much confusing. I would appreciate it if you share a working snippet about how I can configure the enterprise client.

[2019-10-31 13:41] cbetta commented on #447
You'd have to do this to authenticate as another user using a user access token.

[code]

It is important that your application has the right permission for this. You can see those in this guide.

https://developer.box.com/en/guides/authentication/jwt/user-access-tokens/

[2019-11-05 18:35] bishtawi commented on #170
Any progress @mattwiller ?

[2019-11-05 19:02] carycheng commented on #170
Hey @bishtawi,

Currently this is not on our roadmap but we understand and hear the desire from the community to have this. We will keep you updated if there is a change on this front but unfortunately converting the Box Node SDK to include TypeScript definitions is not currently planned as of yet.

[2019-11-06 01:19] PJSimon commented on #447
Hi @matesio,

I just wanted to check in and see if you have made progress on this or still need help.

Thanks!

Patrick

[2019-12-02 18:59] MartinRoman7 opened #449 "PREVIEWER UPLOADER collaboration to folder"
I'm trying to add a **PREVIEWER UPLOADER** collaboration to a Box folder using Node SDK.

Currently, I can create a folder with **UPLOADER** collaboration.

[code]

So, my question is about how to chande **UPLOADER** collaboration to **PREVIEWER UPLOADER **

I tried the following statement but I get an error, maybe because exists a space.

[code]

[2019-12-04 00:27] mattwiller commented on #449
@MartinRoman7 You're correct, the issue is that you have a space instead of an underscore.  The correct way to access this constant would be `appUserClient.collaborationRoles.PREVIEWER_UPLOADER`

[2019-12-05 18:35] MartinRoman7 commented on #449
@mattwiller Thanks a lot.

[2020-01-07 05:15] PJSimon commented on #449
@MartinRoman7 I'm closing this as it appears resolved.  If that's not the case, please feel free to re-open!

[2020-01-07 05:15] #449 closed

[2020-01-07 05:16] PJSimon commented on #447
Hi @matesio ,

I'm closing this as it appears resolved, but if you still need help, please just re-open the issue!

Thanks!

Patrick

[2020-01-07 05:16] #447 closed

[2020-01-07 05:18] PJSimon commented on #413
Hi @shivaallani7,  I'm going to close this old issue, but if you'd like us to continue to look into it, please just re-open the issue!  Thanks!

[2020-01-07 05:18] #413 closed

[2020-01-07 05:19] PJSimon commented on #397
Hi @nikhilmk0704 , I'm closing this old issue, but if you still need help, please just re-open it!  Thanks!

[2020-01-07 05:19] #397 closed

[2020-01-23 15:58] theodore-koch commented on #170
I created a pull request to begin adding type defs for this sdk if anyone else wants to contribute to it

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/41813

[2020-02-03 19:25] F145h opened #463 "files.uploadFile() not working with custom stream"
Have a generated text content on heroku(without write access to the filesystem), upload to box.com failed with error "Unexpected API Response [400 Bad Request] bad_request - Stream ended unexpectedly"

sample:
[code]

1) getChunkedUploader() works
2) empty stream( without `readable.push(Buffer.from("Hello", 'utf8'));`) works too
3) readable.readableLength has the correct value 5 bytes

[2020-02-05 21:54] sgalizia commented on #170
I would like to bump this to increase visibility for Box. We are using this in a TS project very heavily and we would greatly benefit from types. Pretty sure it would be possible to create a type file without having to convert the whole sdk over. Would love to hear from you all as to when this will finally be deemed important enough to put on the roadmap.

[2020-02-05 21:55] sgalizia commented on #170
Your PR had issues and was closed by the maintaining bot. Thank you for at least trying to get that going though!

[2020-02-07 18:56] sgalizia commented on #463
This is because Box uses `request` under the hood and the library requires that you provide a `content-length` header. On the Box community site they suggest editing the prototype of the stream to add these properties that `request` is looking for. I **STRONGLY** disagree with this. It is an underlying fault in their SDK and they need to provide a way for users to tell the SDK how big the file is

[2020-02-10 10:00] F145h commented on #463
A good solution: make POST request for `https://upload.box.com/api/2.0/files/content` and upload content as multupart. Then you need to work and updating accessToken yourself. And SDK is not needed 🤨

[2020-02-10 23:32] PJSimon commented on #463
Hi @F145h and @sgalizia,

Thanks for bringing up this excellent feedback.  I'll discuss with the team and get back to you soon!

Patrick

[2020-02-24 19:33] lukesiler opened #476 "jwt retry changes in v1.31.0 encounter undefined"
- [ x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
When JWT retry code is triggered, an undefined property exception occurs trying to read hasOwnProperty

### Versions Used
Node SDK: v1.31.0
Node.js: node:12.13-stretch-slim

### Steps to Reproduce

use box-node-sdk to download files via files.getReadSt

[2020-02-24 19:41] lukesiler commented on #476
box-node-sdk/lib/api-request.js:308

`} else if (err.response.hasOwnProperty('headers') && err.response.headers.hasOwnProperty('retry-after')) {
		} else if (err.response.hasOwnProperty('headers') && err.response.headers.hasOwnProperty('retry-after')) {
TypeError: Cannot read property 'hasOwnProperty' of undefined
    at APIRequest._retry (/opt/pryon/contapp/node_modules/[4mbox-node-sdk[24m/lib/

[2020-02-24 19:59] sujaygarlanka commented on #476
@lukesiler We have a fix for this and are in the process of implementing it. It seems that the response is not being returned. In an effort to figure out why this may be happening, do you mind logging `err` and `response` at the top of the `_handleResponse` method in the /box-node-sdk/lib/api-request.js file? This would be a huge help.

[2020-02-25 01:08] sujaygarlanka commented on #476
#477

[2020-02-25 01:08] #476 closed

[2020-02-25 15:40] lukesiler commented on #476
@sujaygarlanka - Thanks for the quick response and fix.  I'll try to log those and will post here if I'm able to trap another occurrence.  Any ETA on v1.31.1 release?

[2020-03-11 15:17] u84six commented on #143
@joedski Wow, this was throwing me off for days. Thanks for digging in and figuring out the issue!

On a side note, the Request API has been recently deprecated. It will be interesting to see how all these active node libraries will recover. ;)

[2020-03-13 22:02] sujaygarlanka commented on #463
Hello @F145h and @sgalizia,

What is the reason you guys have for not using fs streams? We would like to know so we can appropriately prioritize this request.

[2020-03-19 08:03] F145h commented on #463
In my case heroku hosting does not allow write to the local file system, therefore I can’t use fs-only streams.
Well, custom stream does not work in the example as I showed, it is simple. But it works fine with dropbox, aws-sdk etc.
Why do we need save a temporary file if the data is already have in the buffer / stream

[2020-03-23 23:43] sgalizia commented on #463
My reason is very similar to @F145h, we are streaming the file from an sftp server and writing to the local filesystem is a waste when the stream is already there as a buffer or open stream. It also slows down the process of what we are trying to do.

[2020-03-30 19:51] smithdavedesign opened #491 "how to auto grant/skip Oauth response page that grants user access to my application."
As the title says I am using box to authenticate a user, which takes them to box to authenticate him/herself. After the user logs in successfully it redirects to https://app.box.com/api/oauth2/authorize/......
which asks if they want to grant access to box. How can I skip/auto grant this page. It seams unnecessary for my users to grant access after they login.

[2020-04-02 09:12] elad-sf opened #497 "files.getChunkedUploader is stuck on large files"
- [v] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
When uploading large files (over 200MB from my testing) using the enterprise auth client and the chunked uploader, the upload is stuck in this process and the CPU goes up to 100% without ever coming down.
When uploading files with the chunked uploader t

[2020-04-06 16:10] sujaygarlanka commented on #497
@elad-sf I could not replicate the issue you were having. I used the following code to test.
`
var sdkConfig = require('path-to-json-file');
var sdk = BoxSDK.getPreconfiguredInstance(sdkConfig);
var jwtClient = sdk.getAppAuthClient('enterprise');
var stat = fs.statSync('path-to-file');
var stream = fs.createReadStream('path-to-file');
console.log(stat.size)
jwtClient.files.getChunkedUploader('0',

[2020-04-09 17:54] David-dp- opened #500 "Explain how to get 'APP_ENTERPRISE_ID'"
I have searched my enterprise https://app.box.com/account , https://developer.box.com/guides/ , https://community.box.com/t5/Platform-and-Development-Forum/ and googled, but haven't found an answer.

### Description of the Issue
https://github.com/box/box-node-sdk#app-auth-client mentions 'APP_ENTERPRISE_ID' but doesn't explain how one can find this value (assuming it's a placeholder and not a lit

[2020-04-16 07:39] iamrahulroy opened #502 "Box getReadStream error: Error: error:0909006C:PEM routines:get_name:no start line"
- [ x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
It keeps throwing `error:0909006C:PEM routines:get_name:no start line` error. I've tested the snippet locally and it is working.

### Versions Used
Node SDK: 1.31.0
Node.js: 12.x

### Steps to Reproduce
Code sample:
[code]

### Error Message, Including

[2020-04-16 08:46] elad-sf commented on #497
@sujaygarlanka
Thanks for the response, unfortunately this is not related to initialisation.
I was able to reproduce it in many environments but all of them had the same Node version..
After more investigation and profiling, this is a problem in the Node version of 12.14.0, which was already fixed in 12.14.1.
After upgrading, everything works as expected.
I'm writing it here so if anyone is having

[2020-04-16 08:46] #497 closed

[2020-04-17 15:57] sujaygarlanka commented on #502
@iamrahulroy This issue probably has to do with how you are importing your private key. A possible solution is described [here](https://github.com/auth0/node-jsonwebtoken/issues/642#issuecomment-585173594). The solution recommended in this post is to replace `process.env.JWT_PRIVATE_KEY` with `process.env.JWT_PRIVATE_KEY.replace(/\\n/gm, '\n')`.

[2020-04-18 07:33] iamrahulroy commented on #502
@sujaygarlanka thanks for the response. I dug into SDK codebase and implemented an alternate method. Instead of importing the key as an environment variable, I imported it as a file and it worked like a charm.

I'll try the suggested solution next week and report back. Thanks again!

[2020-04-18 07:33] #502 closed

[2020-04-20 19:41] iamrahulroy opened #503 "Download file API is throwing `Error: socket hang up`"
- [x ] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
Download file API is randomly throwing `Error: socket hang up`.

### Versions Used
Node SDK: 1.31.0
Node.js: 12.x

### Steps to Reproduce
Code snippet. https://developer.box.com/reference/get-files-id-content/
[code]

### Error Message, Including Stack

[2020-04-23 20:00] PJSimon commented on #503
@iamrahulroy We'll take a look soon!  Thanks for reporting!

[2020-04-23 20:03] PJSimon commented on #500
Hi @David-dp- !

Thanks for reaching out!  Unfortunately, this is not an Bug or Issue with the repo, so I would recommend that you reach out to the community for assistance, here: https://community.box.com/t5/Platform-and-Development-Forum/bd-p/DeveloperForum

Good luck!

@PJSimon

[2020-04-23 20:03] #500 closed

[2020-04-23 20:05] PJSimon commented on #491
Hi @smithdavedesign!

Thanks for reaching out! Unfortunately, this is not an Bug or Issue with the repo, so I would recommend that you reach out to the community for assistance, here: https://community.box.com/t5/Platform-and-Development-Forum/bd-p/DeveloperForum

Good luck!

@PJSimon

[2020-04-23 20:05] #491 closed

[2020-05-01 06:30] iamrahulroy commented on #503
@PJSimon were you able to track down the issue?

[2020-05-06 19:00] sujaygarlanka commented on #503
@iamrahulroy This seems like it could be a network issue on your end. This [issue](https://stackoverflow.com/questions/16995184/nodejs-what-does-socket-hang-up-actually-mean) occurs when a request times out. I would try making this call on a different network and see if it still occurs.

[2020-05-06 19:02] #503 closed

[2020-05-18 19:20] dphrag opened #509 "npm-upgrade should probably not be a dependency"
- [X] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
I was neurotically cleaning dependencies and noticed this SDK installs **npm-upgrade**. It's unused in code and should probably either be removed or changed to a devDependency.

[2020-05-26 19:27] sujaygarlanka commented on #509
@dphrag Thanks for the feedback! Taking a look at this.

[2020-06-10 15:30] lukesiler opened #512 "econnreset failure is not handled by SDK retry logic"
- [ x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [ x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [ x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [ x] I have searched [Issues in this repo][github-repo]

[2020-06-16 18:19] stephencweiss commented on #447
@PJSimon -- looking at that link, I'm confused as to _how_ to invite the user (the Service Account` user) to be a collaborator.

I've tried a few things -- for example, I've tried the following with both the `.asUser` line and without:
[code]

With it, I get the following errors:
[code]

Without it (i.e. if I _don't_ do `.asUser()`, I get an error only on the `Folder`:
[code]

In that case, I get

[2020-06-16 21:05] stephencweiss opened #513 "JWT Access To Shared Directories"
- [x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [x] I have searched [Issues in this repo][github-repo] and

[2020-06-17 00:11] lukesiler commented on #512
@PJSimon - another interesting note here.  I've been chasing an intermittent bug in files.getReadStream where it sometimes just stalls out.  This turns out to be caused by an ECONNRESET that occasionally happens.

`
  err: {
   code: "ECONNRESET"
   message: "socket hang up"
   name: "Error"
   stack: "Error: socket hang up
    at connResetException (internal/errors.js:570:14)
    at TLSSocket.soc

[2020-06-17 10:38] cbetta commented on #513
Hi @stephencweiss, in your code you seem to authenticate as the Service Account, while I think the folder is shared with your own personal account (aka managed user), right? If so, you need to actually act as that managed user to access that folder.

Now, you might know this already, but here is the detail that trips up people: there are 2 ways to act as another user using JWT, and only one of the

[2020-06-17 15:03] stephencweiss commented on #513
Thanks @cbetta!

I suspect you've diagnosed the problem correctly - so a few follow up questions:
1. Is there a way to _confirm_ that it is in fact a managed account? (The company set me up and all I see is this one user in my Admin Console)
![Screen Shot 2020-06-17 at 9 58 44 AM](https://user-images.githubusercontent.com/39878535/84914492-4863ef00-b081-11ea-8559-87e670a1441e.png)

2. For this par

[2020-06-17 15:20] stephencweiss commented on #513
Answer: Yes. Yes, that's exactly what will happen :).

Thanks again @cbetta! Looks like I'm all good now.

May I ask though -- what did I miss in the guides / documentation that would have helped me understand this faster? (I spent ~ a week trying to build this app and have had a _really_ difficult time following the guides / understanding what was needed - so a lot of this progress was kind of bl

[2020-06-17 16:05] cbetta commented on #513
@stephencweiss great to hear you figured this out. We are actively working currently on improving the guides, as well as the onboarding flow around these issues. A big problem we run into with out docs is that a lot of this is documented in some place, but many developers need a slightly different setup for different reasons. We're currently covering every use case with generic documentation, yet

[2020-06-17 17:29] #513 closed

[2020-06-17 18:35] #509 closed

[2020-06-17 20:08] stephencweiss commented on #463
I'm also running into this issue where my stream is coming from AWS (using their SDK to `getObject` from the s3 service).

I'm currently trying to avoid writing a temporary file to disk just to read it back in using `fs.createReadStream`

Happy to use chunked, but this hard limitation on needing to know the bit size up front instead of awaiting an `end` event from the stream is creating a lot of p

[2020-06-17 21:36] stephencweiss commented on #144
@mattwiller - for what it's worth, the `Chunked Uploader` is not a panacea.

I tried refactoring to the `Chunked Uploader`, but my file is too small for it (a measly 871 bytes if I recall correctly) -- which meant I needed to use @joedski 's solution from https://github.com/box/box-node-sdk/issues/143

For example:
[code]

(This got more complicated as I wanted to upload a new version if it was al

[2020-06-18 23:06] pacific202 opened #516 "How to set up App Auth Client?"
- [X ] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [X ] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [X ] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [X ] I have searched [Issues in this repo][github-repo]

[2020-06-18 23:08] pacific202 commented on #516
I started this thread in the forums too:

https://community.box.com/t5/Platform-and-Development-Forum/Config-issues-when-using-App-Auth-Client/td-p/84529

[2020-06-19 15:58] etiennebatise opened #517 "'Parse Error: Invalid header value char' when downloading a file with name containing 'ÿ'"
- [x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [x] I have searched [Issues in this repo][github-repo] and

[2020-06-22 17:08] sujaygarlanka commented on #516
@pacific202 I am not able to replicate your issue. It is working on my end. Are you sure you are running this code and are importing the correct JSON file into your code?
[code]

[2020-06-22 17:31] sujaygarlanka commented on #517
@etiennebatise I am not able to replicate this issue. I was able to download a file with the special character ÿ. I used the code below
[code]

[2020-06-22 20:30] stephencweiss opened #518 "files.uploadNewFileVersion not resolving (time out)"
- [x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [x] I have searched [Issues in this repo][github-repo] and

[2020-06-22 21:38] stephencweiss commented on #518
Tried refactoring it into its own function to more closely match the example - same result (still timing out):
[code]

[2020-06-24 14:35] pacific202 commented on #516
I see the error came from not using getPreconfiguredInstance.

[2020-06-24 14:35] #516 closed

[2020-06-27 04:46] PJSimon commented on #518
Hi @stephencweiss ,

Thanks for submitting this Issue! We will take a look and get back to you ASAP!

@PJSimon

[2020-06-27 04:48] PJSimon commented on #517
Hi @etiennebatise ,

Are you still having this issue or was Sujay able to help you resolve it?  I'll close it for now, but if you still need help, please just re-open and comment!

Thanks!

[2020-06-27 04:48] #517 closed

[2020-06-28 16:00] lukesiler commented on #512
hi @PJSimon,

I also found that 503 error is not being handled by built-in retry code.

`err: {
   message: "503 - Service Unavailable"
   name: "Error"
   stack: "Error: 503 - Service Unavailable
    at APIRequest._handleResponse (/opt/pryon/contapp/node_modules/box-node-sdk/lib/api-request.js:234:9)
    at Request.self.callback (/opt/pryon/contapp/node_modules/request/request.js:185:22)
    at R

[2020-07-01 16:19] sujaygarlanka commented on #463
This issue has been fixed by the PR #519. Will be releasing a new version with this fix soon.

[2020-07-01 16:19] #463 closed

[2020-07-30 01:38] nahmias opened #526 "Missing jpg support for Files.prototype.getThumbnail()"
- [x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [x] I have searched [Issues in this repo][github-repo] and

[2020-07-30 02:05] KKamishima opened #528 "Make PagingIterator support iterable protocol as well"
### Is your feature request related to a problem? Please describe.

ES2018 supports for-await-of statements, which conveniently iterates over an async _iterable_ object.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for-await...of

`PagingIterator`s returned by enumerating methods of the SDK when `config.iterators` set to `true`, however, cannot be directly used in s

[2020-07-30 15:18] sujaygarlanka commented on #528
@KKamishima This is an issue I have an encountered as well. Iterable support would be nice, but as you mentioned it may be a breaking change. We will look into this, but it may be a while before we are able to introduce a breaking change. Thanks for the feedback!

[2020-07-31 02:16] KKamishima commented on #528
@sujaygarlanka  Thanks for taking a look into it.
Please keep in mind that the solution I'd recommend is hardly a breaking change. Existing clients would just ignore an extra property [System.asyncIteraotor].
I have just mentioned the breaking change in the explanation for an alternative solution (which I like less.)

[2020-08-19 09:53] Avaq opened #533 "Passing the body as an Object to validateWebhookMessage is not reliable"
- [x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [x] I have searched [Issues in this repo][github-repo] and

[2020-08-22 17:05] mansu1101 opened #537 "box-node-sdk --> using 'request' module which is deprecated.it's creating issue in my aws-sam project."
### Is your feature request related to a problem? Please describe.
I am using lambda serverless architecture and using AWS-SAM for building and deploying while building my project for deployment getting the issue. this issue is coming because of box-node-sdk using request module internally which is deprecated  https://github.com/request/request/issues/3142

### Additional context
It was working ea

[2020-09-01 10:01] kondonator opened #540 "What to set as callback when to retrieve enterprise events."
Hi.
I'm trying to gather all enterprise events and write them into a log file via nodejs.
I have read [api reference](https://developer.box.com/reference/get-events/) and added some code based on the api reference but it logged nothing but 'Hello XXX!'.

The [api reference](https://developer.box.com/reference/get-events/#request) described to call `client.events.get({stream_position: '140883892844

[2020-09-01 15:06] sujaygarlanka commented on #540
@kondonator I would take a look at the docs here https://github.com/box/box-node-sdk/blob/master/docs/events.md#events. Feel free to re-open this issue if you have any follow up questions.

[2020-09-01 15:06] #540 closed

[2020-09-02 18:22] PJSimon commented on #533
Hi @Avaq,

Thanks for reporting this issue.  We are working on a fix now!

Thanks,

Patrick

[2020-09-25 15:29] sujaygarlanka commented on #518
@stephencweiss Is this still an issue?

[2020-09-25 15:37] stephencweiss commented on #518
@sujaygarlanka - honestly, haven't looked at DropBox in a few months as I'm in a new role.

[2020-09-25 18:30] sujaygarlanka commented on #518
@stephencweiss Is it alright we close it? This seems like a code specific issue that we aren't able to replicate. If you need further help debugging this code, feel free to re-open this.

[2020-09-25 18:30] #518 closed

[2020-10-06 21:32] dawinter commented on #170
Any update for providing type definition for Box SDK?

[2020-10-18 08:59] janinl opened #552 "Vulnerability in merge-options dependency"
Hi,

Thank you for this useful package.

Veracode reports a vulnerability in merge-options:1.0.1, which is mentioned in package.lock.
Would you be able to update the dependency to version ^3.0.2 (or just confirm that I can safely override to this version in a prod environment)?

Kind regards

[2020-10-19 09:59] Yossitrx commented on #170
Hey, any updates providing types for Box node SDK?

[2020-10-20 15:06] sujaygarlanka commented on #552
@janinl I upgraded the merge-options dependency to 3.0.3 for our SDK locally and all our tests passed. So it should be fine if you upgrade the dependency in our SDK in prod, however, I don't recommend it. In an abundance of caution, I recommend you first test it out in dev. Hope this helps! Feel free to re-open this issue if you have any follow-up questions.

[2020-10-20 15:08] janinl commented on #552
Thanks a lot for checking this so quickly!

[2020-11-24 11:22] etiennebatise commented on #517
Hello again,

I come back after a while to confirm this is still happening in `1.35`. @sujaygarlanka , I can't tell if your test has the same context. In my case, the bug happens when the file _on box_ has a `ÿ` in its name. The local file name is unimportant.

After a bit of digging, I found out issues with a similar stack trace mentioning the http-parser of nodejs. See:
- https://github.com/node

[2020-11-24 12:19] hbi99 opened #558 "Get all files in a folder recursively"
It would be great if the SDK offered a way to get all files regardless of "depth". In issue #271, there is a suggestion to use iterators and that in turn results in a chained promise requests. I can't imaging this is the optimal way to do such procedure. The SDK client should make one request and the API server should climb down iteratively. Preferably something like this:

[code]

The API, SDK, C

[2020-11-24 19:03] sujaygarlanka commented on #558
@hbi99 Thank you for the complement and feedback! We will pass on the feedback to the team that maintains the Folder API.

[2020-11-25 14:15] Avaq opened #559 "Loading the latest version of box-node-sdk changes the Node HTTPS module in surprising and breaking ways"
- [x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [x] I have searched [Issues in this repo][github-repo] and

[2020-11-25 14:24] Avaq commented on #559
I tracked down the problem to the `node_modules/agent-base/patch-core.js` file, which contains the following (obviously buggy) code:

[code]

- As I suspected, the `https.request` function is being replaced with another one as soon as this module loads.
- The function it has been replaced with has several incompatibilities with the original `https.request` function.
- When a URL is passed as a fir

[2020-11-25 14:34] Avaq commented on #559
The problem in agent-base was fixed in https://github.com/TooTallNate/node-agent-base/pull/36 and released in version 5.0.0, a year ago: https://github.com/TooTallNate/node-agent-base/releases/tag/5.0.0.

The actual problem thus becomes that the dependencies of box-node-sdk are outdated.

[2020-11-25 14:36] Avaq commented on #559
Updating `proxy-agent` to version 4.0.0 should fix the issue: https://github.com/TooTallNate/node-proxy-agent/releases/tag/4.0.0

[2020-12-30 14:11] Avaq commented on #559
#563 addresses this issue. Will a new version be released?

[2021-01-12 00:46] reidbuzby opened #565 "Inconsistent search results"
### Description of the Issue
I am having issues with `client.search.query` not returning the expected results. My query looks like this:
[code]
Sometimes the results come back empty, even though there are files that exist in my Box account that match the given filename. However, sometimes the results come back partially correct, as in some of the files that match the given filename are returned bu